/*
 Theme Name:   VLC Custom Child
 Theme URI:    https://victorylifechurch.com
 Description:  Maranatha Child Theme for Victory Life Church
 Author:       Ronald Fuquay
 Template:     maranatha
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  maranatha-child
*/

/* font size adjustments */
@media only screen and (max-width: 768px) {
    html {
        font-size: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 100%;
    }
}

/* Logo adjustments */
#maranatha-logo-image img {
    max-height: 100px;
}

#maranatha-logo-image a {
    max-width: 100px !important;
    max-height: 100px !important;
}

@media only screen and (max-width: 700px) {
    #maranatha-logo-image img {
        max-height: 50px;
    }
    
    #maranatha-logo-image a {
        max-width: 50px !important;
        max-height: 50px !important;
    }
}

/* Mobile Menu adjustments */

.mean-container .mean-bar {
    width: 100%;
    margin: 0 5%;
    max-width: 90%;
}

.mean-container a.meanmenu-reveal {
    right: 3% !important;
}

.mean-container .mean-nav {
    width: 100%;
    margin: 3em 0 0 0;
}

.mean-container .mean-nav ul li a {
    padding: .25em 0 .25em 1em;
}

.mean-container .mean-nav ul li a.mean-expand {
    margin: .5em 0.6em 0 0;
    font-size: 18px !important;
}

.mean-container .mean-nav > ul > li:first-child > a.mean-expand {
    margin-top: 1em;
}

/* Scrolled Menu adjustments */

.maranatha-scrolled #maranatha-logo-image img {
    max-height: 50px;
}

/* Next Steps adjustments */

.su-tabs-pane, .su-tabs-nav span {
    font-size: inherit !important;
}

.next-steps .su-tabs.my-custom-tabs {
  background-color: transparent;
}

.next-steps .su-tabs.my-custom-tabs .su-tabs-nav span {
  width: 50%;
  text-align: center;
  margin-right: 0;
  float: left;
  padding: 30px 0;
  color: #fff;
  background: url(images/arrow-blue.png) no-repeat center center;
  background-size: contain;
}

.next-steps .su-tabs.my-custom-tabs .su-tabs-nav span:hover {
  background-color: transparent;
  color: #fff;
  background: url(images/arrow-purple.png) no-repeat center center;
  background-size: contain;
}

.next-steps .su-tabs.my-custom-tabs .su-tabs-nav span.su-tabs-current {
  background-color: transparent;
  color: #fff;
  background: url(images/arrow-purple.png) no-repeat center center;
  background-size: contain;
}

@media screen and (min-width: 500px) {
  .next-steps .su-tabs.my-custom-tabs .su-tabs-nav span {
    padding: 40px 0;
  }
}

@media screen and (min-width: 770px) {
  .next-steps .su-tabs.my-custom-tabs .su-tabs-nav span {
    width: 25%;
    float: inherit;
  }
}

/* Life Groups adjustments */

#groupsengine h1, #groupsengine h2, #groupsengine h3, #groupsengine h4, #groupsengine h5, #groupsengine h6, #groupsengine p, #groupsengine form, #groupsengine ul, #groupsengine ol, #groupsengine li, #groupsengine ol li, #groupsengine ul li, #groupsengine blockquote, #groupsengine input, #groupsengine input[type="submit"], #groupsengine textarea, #groupsengine select, #groupsengine select:focus, #groupsengine label, #groupsengine table, #groupsengine table tr, #groupsengine table tr td, #groupsengine table tr th, #groupsengine iframe, #groupsengine object, #groupsengine embed, #groupsengine img, #groupsengine a, #groupsengine .ge-groups-table td, #groupsengine .ge-single-group .ge-group-description p, #groupsengine .ge-single-group td.ge-group-details {
    font-family: 'Lato', Arial, Helvetica, sans-serif !important;
}

h3.enmge-poweredby {
    display: none;
}

#groupsengine .ge-single-group h3 {
    padding: 15px .5em !important;
}

#groupsengine .ge-single-group .ge-group-description {
    padding: 0 1em !important;
}

#groupsengine a:visited, #groupsengine a:link {
    text-decoration: none;
}

#groupsengine a:hover {
    text-decoration: underline;
}

/* Prayer Engine adjustments */

h3.enmpe-poweredby {
    display: none;
}

/* Form adjustments */

.frm_form_field {
    margin-bottom: 1em !important;
}

fieldset {
    border: none;
}

select {
    background: transparent;
    padding: 5px 1em;
    border-radius: 2.5rem;
    -webkit-appearance: none;
    border-color: #888888;
    background: url(images/new_arrow.png) no-repeat right;
}

span.frm_required {
    color: red !important;
}

.frm_error {
    background-color: rgba(255, 0, 0, 0.33);
    padding: .25em 1em;
    margin: .25em 0;
}

input[type=checkbox], input[type=radio] {
    height: initial;
}

div#sgcolorbox {
    z-index: 999999 !important;
}

div#sgcboxContent .frm_full {
    width: 95% !important;
}

.frm_submit {
    clear: both;
}

.frm_description {
    font-size: 80%;
    line-height: 1.25;
}

/* Shorcodes Ultimate customizations */

.camp .su-row {
    margin-bottom: 0;
}

/* Post Customizations */

.maranatha-author-avatar img {
    margin: 0;
}

p.comment-subscription-form {
    margin: .5rem 0;
    line-height: .5 !important;
    height: 20px;
}

/* Top Bar Customizations */

#wpfront-notification-bar-spacer {
    z-index: 100000000;
}

#wpfront-notification-bar a.wpfront-button {
    text-shadow: none;
}

.wpfront-bottom-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#wpfront-notification-bar-open-button {
    border: none;
}

@media screen and (max-width: 770px) {
    #wpfront-notification-bar-spacer {
        display: none !important;
    }
}