
/*---------------------------------------------
 * Box Model
 *--------------------------------------------*/

// Natural box layout model

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/*---------------------------------------------
 * Text
 *--------------------------------------------*/

// Base Font

html {
	font-size: 100%;
	line-height: $line-height;
	color: $text-color;
}

// Smooth Fonts

html,
html a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

// Links

a {
	text-decoration: none;
	font-weight: normal;
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {

	@extend .maranatha-vertical-margin-medium-small-content; // medium top margin, small bottom margin

	$font-weight: 300; // for Raleway and thin fonts

	font-weight: $font-weight;
	line-height: 1.2;
	color: $text-color-heading;

	a {
		font-weight: $font-weight;
	}

}

h1 { // <h1> in main <header> banner
	font-size: 3.6em;
	@include thin-heading-font();
}

	.maranatha-h1 {  // use @extend .maranatha-h1 instead of adding class to markup
		@extend h1;
	}

#maranatha-content h1, // <h1> in content area
#maranatha-content .maranatha-h1,
.mce-content-body h1 {
	font-size: 2.8em; // size betwen <header> banner and <h2>
}

h2,
.maranatha-h2 { // use @extend .maranatha-h2 instead of adding class to markup
	font-size: 1.9em;
	@include thin-heading-font();
}

	.maranatha-h2 {  // use @extend .maranatha-h2 instead of adding class to markup
		@extend h2;
	}

h3,
.maranatha-h3 {
	font-size: 1.6em;
}

h4,
.maranatha-h4 {
	font-size: 1.4em;
}

h5,
.maranatha-h5 {
	font-size: 1.2em;
}

h6,
.maranatha-h6 {
	font-size: 1em;
}

// Bold

b,
strong {
	font-weight: 600;
}

// Text Selection (fails when selectors combined)

::-moz-selection {
	background-color: $text-selection-bg-color;
	color: $text-selection-color;
}

::selection {
	background-color: $text-selection-bg-color;
	color: $text-selection-color;
}

/*---------------------------------------------
 * Blocks
 *--------------------------------------------*/

// Content block spacing
// (heading tags done separately above, with greater top margin)
p,
ul,
ol,
dl,
table,
q {
	@extend .maranatha-vertical-margin-small-content; // automatically responsive when extending
}

// Lists

ul,
ol,
dl {
	padding: 0;
}

ul,
ol { // more comfortable margins
	margin-left: ct-em(50);
}

	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-top: 0;
		margin-bottom: 0;
	}

dl { // definition list
	margin-left: ct-em(30)
}

	dt {
		font-size: 0.9em;
		font-style: normal;
		font-weight: normal;
		text-transform: uppercase;
		@extend .maranatha-dark;
	}

	dd {
		margin-bottom: ct-em(20);
		margin-left: 0;
	}

// Blockquote

blockquote {

	@extend .maranatha-vertical-margin-medium-content; // automatically responsive when extending

	display: block;
	position: relative;
	margin-left: 0;
	margin-right: 0;
	padding: 0 0 0 ct-em(40);
	font-size: 1.4em; // a little bigger
	font-style: italic;
	font-weight: 300; // for thin fonts
	line-height: 1.5;
	@extend .maranatha-dark;

	// Paragraphs

	p {

		margin-top: 0;
		margin-bottom: ct-em(11);

		&:last-child {
			margin-bottom: 0;
		}

	}

	// Quotation mark before

	&:before {

		position: absolute;
		top: -0.32em;
		left: 0;
		display: block;
		content: "\201C";
		font-size: 4em;
		font-style: normal;
		font-weight: 600;
		color: #555;

		// Font Adjustments

		.maranatha-body-font-droid-serif &,
		.maranatha-body-font-noto-serif &,
		.maranatha-body-font-source-sans-pro &,
		.maranatha-body-font-tinos & {
			font-size: 3.5em;
		}

	}

	// <cite> in blockquote

	cite {

		display: block;
		margin-top: ct-em(27) !important;
		font-size: 0.6em;
		font-weight: normal;
		font-style: normal;
		text-transform: uppercase;

		// Emdash before

		&:before {
			content: "\2014 \2009";
			font-weight: 300;
		}

	}

}

// Quote Tag

q {
	font-style: italic;
	@extend .maranatha-dark;
}

// Tables

.maranatha-entry-content table,
.mce-content-body table {
	width: 100%;
	border: none;
}

	.maranatha-entry-content caption,
	.mce-content-body caption {
		margin-bottom: ct-em(20);
		font-style: italic;
		text-align: left;
	}

	.maranatha-entry-content th,
	.mce-content-body th {
		padding: 0 ct-em(25) ct-em(5) 0;
		text-align: left;
		font-size: 0.9em;
		font-style: normal;
		font-weight: normal;
		text-transform: uppercase;
		@extend .maranatha-dark;
	}

	.maranatha-entry-content td,
	.mce-content-body td {
		padding: ct-em(5) ct-em(25) ct-em(5) 0;
		font-size: 0.9em;
	}

	.maranatha-entry-content td {
		border: none;
	}

// Horizontal Rule

hr {

	@extend .maranatha-vertical-margin-medium; // automatically responsive when extending

	padding: 0;
	height: 0;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: #e5e5e5;
	line-height: 0;
	font-size: 0;

}

/*---------------------------------------------
 * Images
 *--------------------------------------------*/

// Remove gap from below <img> tags

img {
	vertical-align: bottom;
}

// Remove left margin from figures

figure {
	margin-left: 0;
}

// Image max width and rounded corners

.maranatha-entry-content img,
.maranatha-widget img,
.maranatha-caption-image img, // for placeholder
img.size-full,
img.size-large,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
.maranatha-entry-short-image {
	max-width: 100%;
	height: auto;
	border-radius: $image-border-radius;
}

/*---------------------------------------------
 * Forms
 *--------------------------------------------*/

input,
select,
textarea,
button {
	font-family: inherit;
}

input,
textarea {

	margin: 0;
	font-size: 0.95em;
	color: $form-text-color;
	background-color: transparent;
	border: 1px solid #888888;
	border-radius: 6px;

	&:focus {
		border-color: #000;
	}

}

input {

	$height: ct-em(40);

	padding: 0 ct-em(15);
	height: $height;
	line-height: $height;
	border-radius:  $height;
	outline: 0;
}

textarea {
	padding: ct-em(15);
}

	textarea:focus {
		outline: 0;
	}

input[type=radio],
input[type=checkbox] {
	margin-right: 4px;
	border: 0;
}

input[type=submit] {
	//padding: 7px;
}

// Remove iOS form styling

.maranatha-is-ios input:not([type=checkbox]):not([type=radio]),
.maranatha-is-ios textarea { // get rid of iOS styles
	-webkit-appearance: none;
}
