
/*---------------------------------------------
 * Text
 *--------------------------------------------*/

// Enlarged Text (used on main article content)

.maranatha-enlarged {
	font-size: $enlarged-font-size;
}

// Light Text

.maranatha-light {
	color: $text-color-light;
}

// Dark Text

.maranatha-dark {
	color: $text-color-dark;
}

// Bold Text

.maranatha-bold {
	font-weight: 600; // semi-bold if available; otherwise bold
}

// More compact entry content for comments and Text widget, etc.

.maranatha-compact-content {

	@extend .maranatha-entry-content;

	blockquote {

		// More compact

		padding-top: ct-em(24);
		padding-bottom: ct-em(24);
		font-size: 1.3em;
		text-align: left;

		&:before {
			position: absolute;
			top: 0.09em;
			left: 0.42em;
			font-size: 3.8em;
		}

		// No shadow

		box-shadow: none;
		border: none;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: ct-em(40);
		padding-right: 0;

		// Quotation mark before

		&:before {
			position: absolute;
			top: ct-em(-5);
			left: 0;
		}

		// Paragraphs

		p {

			margin-top: 0;
			margin-bottom: ct-em(11);

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	// Reduce block margins

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: ct-rem(20);
		margin-bottom: ct-rem(15);
	}

	p,
	ul,
	ol,
	dl,
	table,
	blockquote,
	q {
		margin-top: ct-em(25);
		margin-bottom: ct-em(25);
	}

	.alignnone {
		margin-top: ct-em(25);
		margin-bottom: ct-em(25);
	}

	p .alignnone {
		margin-top: ct-em(6);
		margin-bottom: ct-em(6);
	}

	.aligncenter {
		margin-top: ct-em(35);
		margin-bottom: ct-em(35);
	}

	// Increase caption image text

	.wp-caption-text {
		font-size: 0.9em;
	}

	// Smaller buttons

	.maranatha-buttons-list {
		font-size: 0.9em;
	}

}

/*---------------------------------------------
 * Images
 *--------------------------------------------*/

// Brighten on Hover
// Short view featured image, caption image, gallery thumbnail
// This is container of an image

.maranatha-not-mobile .maranatha-hover-image {

	// Brighten on hover

	img {
		-webkit-filter: brightness(1) contrast(0.95);
		filter: brightness(1) contrast(0.95);
	}

	& a:hover img {
		-webkit-filter: brightness(1.1) contrast(0.95);
		filter: brightness(1.1) contrast(0.95);
	}

}

// Caption Image (e.g. Highlight Widget, Galleries Template)

.maranatha-caption-image {
	@extend .maranatha-hover-image;
	position: relative;
}

	// Background if no image

	.maranatha-caption-image-inner {
		background-color: $bg-color-secondary;
	}

	// Container for Title and Description

	.maranatha-caption-image-caption {

		$right-margin: 8%;

		display: block;
		position: absolute;
		bottom: 12%;
		left: 0;
		padding-right: $right-margin;
		max-width: 100% - $right-margin;

		> * {
			border-top-right-radius: ct-em(3);
			border-bottom-right-radius: ct-em(3);
		}

	}

		// Title

		.maranatha-caption-image-title {

			display: inline-block;
			position: relative; // helps z-index kick in
			float: left; // needed for IE in order for float/clear: left on description to work below
			max-width: 100%;
			padding: ct-em(9) ct-em(10);
			@extend .maranatha-h5;
			line-height: 1.2;

			&,
			& h2 { // in widget
				color: $text-color-on-main;
				font-weight: normal;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis; // ... before overflows
			}

		}

			// Font Adjustments

			.maranatha-heading-font-nothing-you-could-do .maranatha-caption-image-title {
				padding-top: ct-em(11);
				padding-bottom: ct-em(9);
			}

		// Description

		.maranatha-caption-image-description {
			display: inline-block;
			position: relative; // helps z-index kick in (in color scheme CSS)
			max-width: 100%;
			float: left; // float/clear left causes new line without resorting to display: block which span 100% width of title/caption
			clear: left;
			padding: ct-em(6) ct-em(12);
			background-color: rgba( $bg-color, 0.8 );
			font-size: 0.9em;
			font-style: italic;
			color: $text-color;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis; // ... before overflows
		}

/*---------------------------------------------
 * Icons
 *--------------------------------------------*/

// List Icons

.maranatha-list-icons { // ul

	$margin: 4;

	list-style: none;
	margin: ct-em(-$margin);
	padding: 0;

	li {
		display: inline-block;
		margin: ct-em($margin);
	}

}

/*---------------------------------------------
 * Buttons
 *--------------------------------------------*/

// Circle Button Shared (Single + List)

.maranatha-circle-button,
.maranatha-circle-button span,
.maranatha-circle-buttons-list li,
.maranatha-circle-buttons-list a {
	width: $circle-button-size;
	height: $circle-button-size;
	@include circle-radius($circle-button-size);
}

.maranatha-circle-button-small,
.maranatha-circle-button-small span,
.maranatha-circle-buttons-list-small li,
.maranatha-circle-buttons-list-small a {
	width: $circle-button-small-size;
	height: $circle-button-small-size;
	@include circle-radius($circle-button-small-size);
}

.maranatha-circle-button,
.maranatha-circle-buttons-list li {
	display: inline-block;
}

	// Inner Element

	.maranatha-circle-button span,
	.maranatha-circle-buttons-list a {
		display: table-cell;
		vertical-align: middle;
		border-width: 1px;
		border-style: solid;
		padding: ct-em(2) $circle-button-side-padding 0;
		font-size: $circle-button-font-size;
		text-align: center;
		text-transform: uppercase;
		// Link color via Customizer is output in <head> for text/border
	}

	// Link Hover

	a.maranatha-circle-button span:hover,
	.maranatha-circle-buttons-list a:hover {
		color: $circle-button-hover-text-color;
		// Link color via Customizer is output in <head> for background on hover
	}

	// Button Selected

	a.maranatha-circle-button-selected span,
	.maranatha-circle-buttons-list a.maranatha-circle-button-selected {
		color: $circle-button-hover-text-color;
		// Link color via Customizer is output in <head> for background on hover
	}

	// Icon Button

	.maranatha-circle-button,
	.maranatha-circle-buttons-list {

		span.el,
		a.el,
		a span.el {

			margin-top: ct-em(-2);

			// Adjustments

			&.el-chevron-left {
				padding-left: $circle-button-side-padding - ct-rem(4);
			}

			&.el-chevron-right {
				padding-right: $circle-button-side-padding - ct-rem(4);
			}

			&.el-video {
				position: relative;
				top: ct-em(1);
				font-size: $circle-button-icon-with-text-size * 1.15;
			}

			&.el-align-justify {
				font-size: $circle-button-icon-with-text-size * 0.95;
			}

			&.el-download-alt {
				position: relative;
				top: ct-em(1);
				font-size: $circle-button-icon-with-text-size * 0.95;
			}

		}

		// Icon Only

		span.el,
		a.el {
			padding-top: ct-rem(2);
			font-size: $circle-button-icon-size;
		}

		// Icon with Text

		a {

			line-height: 1.3;

			span.el {
				padding-bottom: ct-rem(10);
				font-size: $circle-button-icon-with-text-size;
				display: block;
			}

		}

	}

	// Small Icon Button

	.maranatha-circle-button-small span.el,
	.maranatha-circle-buttons-list-small a.el {
		font-size: $circle-button-small-icon-size;
	}

// Circle Buttons List

.maranatha-circle-buttons-list { // ul

	margin-left: 0;
	margin-bottom: -$circle-button-margin !important;
	padding: 0;
	list-style: none;

	li {
		margin: 0 $circle-button-margin-half $circle-button-margin $circle-button-margin-half;
	}

}

	// Small Buttons

	.maranatha-circle-buttons-list-small { // ul

		margin-bottom: -$circle-button-small-margin !important;

		li {
			margin: 0 $circle-button-small-margin-half $circle-button-small-margin $circle-button-small-margin-half;
		}

	}

// Rectangular Button Shared (Single + List)

.maranatha-button,
.maranatha-buttons-list a,
input[type=submit],
.maranatha-nav-left-right a,
.maranatha-pagination li > * {

	display: inline-block;
	position: relative;
	height: $button-height;
	line-height: $button-height;
	border-radius: $button-height;
	border-width: 1px;
	border-style: solid;
	padding: 0 ct-em(22);
	font-size: $button-font-size;
	text-align: center;
	text-transform: uppercase;

	// Link Hover

	&:hover {
		color: $button-hover-text-color;
	}

	// Icon Button

	.el {
		font-size: 1.1em;
		padding-right: ct-em(5);
		position: relative;
		top: ct-em(1);
	}

	// Icon Adjustments

	.el-chevron-left,
	.el-chevron-right {
		font-size: 1em !important;
		top: 0 !important;
	}

	.el-chevron-right {
		margin-right: ct-em(-8);
		padding-left: ct-em(5);
	}

	.el-video {
		font-size: 1.3em;
		top: ct-em(2);
		padding-right: ct-em(4);
	}

	.el-comment {
		top: ct-em(2);
	}

	.el-edit {
		font-size: 1em;
	}

	.el-road { // Directions
		top: ct-em(2);
	}

	.el-justify-right { // Read
		top: ct-em(2);
	}

	.el-user {
		font-size: 1em;
	}

}

// Rectangular Buttons List

.maranatha-buttons-list { // ul

	margin: 0 (-$button-margin-half) (-$button-margin) (-$button-margin-half);
	list-style: none;
	padding: 0;

	li {
		display: inline-block;
		margin: 0 $button-margin-half $button-margin $button-margin-half;
	}

}

/*---------------------------------------------
 * Lists
 *--------------------------------------------*/

// List Items
// Used by CT Categories widget (extended) and Sermon topics, speakers, etc. archives
// ie. content generated by wp_list_categories()
// main.js moves count into span tag so it can be styled

.maranatha-list {

	$top-level-margin: ct-em(10);
	$sub-level-margin: ct-em(5);

	margin: 0;
	margin-bottom: (-$top-level-margin) !important;
	list-style: none;
	line-height: 1.3;

	// Hide list until main.js moves count into span, to avoid flicker

	.js & {
		visibility: hidden;
	}

	// Second and third level margins

	ul {
		margin-top: $sub-level-margin;
		margin-left: ct-em(15);
	}

	// Top-level Item

	> li {
		padding-bottom: $top-level-margin;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	// All Items

	li {

		position: relative;
		list-style: none;

		// Second level or deeper

		li {

			// Less margin

			margin-bottom: $sub-level-margin;

			// Second-level links smaller

			a {
				font-size: 0.9em;
			}

			// Third and deeper italic

			li {
				font-style: italic;
			}

		}

	}

	// Make room for count so wrapping is nice

	> li {
		padding-right: ct-em(30);
	}

}

	// List Items Count

	.maranatha-list-item-count { // class added and ( ) removed by JavaScript

		position: absolute;
		top: ct-em(1);
		right: 0;
		font-size: 0.9em;
		font-style: normal;
		@extend .maranatha-light;

		li li & {
			right: ct-em(-33);
		}

	}

/*---------------------------------------------
 * Navigation
 *--------------------------------------------*/

// Prev/Next Nav Blocks (Single Post)

.maranatha-nav-blocks {

	@extend .maranatha-vertical-margin-top-large;
	@extend .maranatha-no-viewport-padding; // make it fit 100% to viewport on smaller screens

	overflow: hidden;

	// Make single post nav flush with bottom when no comments section shown

	.maranatha-has-nav-blocks.maranatha-no-comments-section & {
		margin-bottom: 0;
	}

}

	.maranatha-nav-block {

		position: relative;
		display: inline-block;
		width: 50%;
		padding-bottom: ( 25% / 2 ); // ratio for 1600x400 banners (divided by 2 because width is 50%)
		cursor: pointer;

		&.maranatha-nav-block-empty {

			cursor: default;

			@extend .maranatha-secondary-bg;

			.maranatha-no-comments-section & {
				@extend .maranatha-bg;
			}

		}

	}

		.maranatha-nav-block-image,
		.maranatha-nav-block-content {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.maranatha-nav-block-image {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}

		.maranatha-nav-block-content {
			z-index: 2; // above image
			padding: 0 10%;
		}

			.maranatha-nav-block-content-columns {
				display: table;
				height: 100%;
				min-width: 50%;
				margin: 0 auto;
			}

				.maranatha-nav-block-content-column {
					display: table-cell;
					height: 100%;
					vertical-align: middle;
					text-align: center;
				}

				.maranatha-nav-block-content-arrow {

					position: absolute;
					top: 44%; // Fallback for old versions Android without calc()
					top: calc( 50% - 12px );
					font-size: 16px;

					&.maranatha-nav-block-content-left {
						left: 5%;
					}

					&.maranatha-nav-block-content-right {
						right: 5%;
					}

				}

				.maranatha-nav-block-content-text {

					max-width: 450px;

					$padding: 1.5em;

					&.maranatha-nav-block-content-right {
						padding-left: $padding;
					}

					&.maranatha-nav-block-content-left {
						padding-right: $padding;
					}

				}

					.maranatha-nav-block-label {
						text-transform: uppercase;
						font-size: 0.8em;
						padding-bottom: ct-em(2);
					}

					.maranatha-nav-block-title {
						@extend h3;
					}

	.maranatha-nav-block-left {

		float: left;

		.maranatha-nav-block-has-both & {
			border-width: 0 1px 0 0;
			border-style: solid;
			border-color: rgba( $bg-color, 0.35 );
		}

	}

	.maranatha-nav-block-right {
		float: right;
	}

// Prev/Next Nav Buttons (Comments and Attachments)

.maranatha-nav-left-right {
	@extend .maranatha-clearfix;
}

	.maranatha-nav-left { // use in .maranatha-nav-left-right
		float: left;
		width: 50%;
		max-width: 100%;
	}

	// Next / Newer

	.maranatha-nav-right {
		@extend .maranatha-nav-left;
		float: right;
		text-align: right;
	}

// Post Page Numbers ( << 1 2 3 >> below loops)

.maranatha-pagination {
	@extend .maranatha-vertical-margin-top-medium;
	@extend .maranatha-clearfix;
}

	ul.page-numbers { // WordPress-provided class; see .maranatha-button class

		margin: ct-em(5);
		list-style: none;
		text-align: center;

		li {

			margin: ct-em(5);
			display: inline-block;
			text-align: center;

			 > * {
				width: $button-height;
				padding: 0;
			}

		}

		span {

			&.current {
				color: #fff;
			}

			&.dots {
				width: auto;
				padding: 0;
				border: none;
				color: $text-color;
			}

		}

		.el {
			margin-top: ct-em(1);
		}

		.el-chevron-left {
			margin-left: ct-em(3);
		}

		.el-chevron-right {
			margin-top: ct-em(1);
			padding-left: 0;
		}

	}

/*---------------------------------------------
 * Author Box
 *--------------------------------------------*/

// Used below blog posts and author archive

.maranatha-author-box {

	position: relative;

	// Margin on top of viewing single post (not in archive, where box appears at top)

	.single & {
		@extend .maranatha-vertical-margin-top-large;
		top: ct-em(-5);
		min-height: $author-box-avatar-size + 5em;
		padding: ct-em(40);
		border-radius: $box-border-radius;
		background-color: $bg-color-secondary;
	}

	// Archive (at top)

	.archive & {
		min-height: $author-box-avatar-size + 0.5em;
	}

}

	.maranatha-author-avatar {

		position: absolute;
		width: $author-box-avatar-size;
		height: $author-box-avatar-size;

		.single & {
			left: ct-em(40);
		}

		img {
			max-width: 100%;
			height: auto;
			@include circle-radius( $author-box-avatar-size );
		}

	}

	.maranatha-author-content {

		margin-left: $author-box-avatar-size + 2.4em;

		header {
			min-height: ct-em(42);
		}

			h2 {
				display: inline-block;
				margin: 0 ct-em(30) 0 0;
				vertical-align: middle;
			}

	}

		.maranatha-author-box-archive {
			position: relative;
			top: ct-em(-5);
			vertical-align: middle;
			float: right;
			font-size: 0.9em;
		}

		.maranatha-author-bio {

			margin-top: ct-em(14);

			p:first-child {
				margin-top: 0;
			}

			p:last-child {
				margin-bottom: 0;
			}
		}

/*---------------------------------------------
 * Search Form
 *--------------------------------------------*/

// Search Form Shared Styles (Header, Widget, etc.)

.maranatha-search-form form {

	margin: 0;
	white-space: nowrap;

	> * {
		display: inline-block;
		margin-left: ct-em(7);
		vertical-align: middle;
	}

	> *:first-child {
		margin-left: 0;
	}

	input[type=text] {
		width: 180px;
		text-transform: uppercase;
	}

}

/*---------------------------------------------
 * MediaElement.js
 *--------------------------------------------*/

// Flat Design (Remove Gradients)

// Move time down (too high after WP 4.1)

.hentry .mejs-time {
	padding-top: 10px !important;
}

// Make video span 100% of screen (default is 640px)

.wp-video {
	min-width: 99%; // 100% is more likely to show black edges
}

// Remove yellow border on play button

.hentry .mejs-controls .mejs-button button:focus {
	outline: none;
}

// Control Bar

.hentry .mejs-container .mejs-controls {
	background: #222;
}

// Grayscale total rail (before play)

.hentry .mejs-controls .mejs-time-rail .mejs-time-total {
	background: #555;
}

// Grayscale loading rail

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded { // grayscale progress bar
	background: #828282;
}

// Grayscale time rail

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #d2d2d2;
}

// Volume slider total

.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background: #555;
}

// Volume slider value

.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background: #d2d2d2;
}

/*---------------------------------------------
 * Google Maps JS
 *--------------------------------------------*/

// Responsive Map

.ctfw-google-map.ctfw-google-map-responsive {
	padding-bottom: 50%; // responsive at 1:2 ratio
}

	/* Prevent responsive images affecting Google Maps */

	.ctfw-google-map img {
		max-width: none;
	}

/*---------------------------------------------
 * Map Section
 *--------------------------------------------*/

.maranatha-map-section,
#maranatha-map-section-canvas { // .maranatha-viewport-height-half
	display: block; // FF needs for height
	min-height: 350px !important;
	width: 100%;
}

.maranatha-map-section {
	z-index: 1; // z-index oddly solves Chrome issue with background-attachment failing below map
	position: relative;
	overflow: hidden;
}

// Google Map

#maranatha-map-section-canvas {
	position: absolute;
	top: 0;
}

// Content Overlay

#maranatha-map-section-content-container {
	z-index: 1; // above map canvas
	position: relative; // make z-index work
	margin: 0 auto;
	width: 80%;
	max-width: 550px;
	height: 100%;
}

	// Content

	#maranatha-map-section-content {

		display: table;
		width: 100%;
		height: 100%;

		> * { // Left/Right Columns
			display: table-cell;
			vertical-align: middle;
		}

	}

		// Marker Icon

		#maranatha-map-section-left {

			padding-right: ct-em(30);

			// If no info box, show icon centered

			.maranatha-no-map-info & {
				text-align: center;
			}

		}

			#maranatha-map-section-marker span {
				background-color: #fff;
			}

		// Info Box

		#maranatha-map-section-right {
			text-align: right;
			width: 80%;
		}

			#maranatha-map-section-info {

				display: inline-block;
				min-width: 300px;
				max-width: 500px;
				padding: ct-em(30);
				@include box();
				text-align: left;
				font-size: 0.95rem;
				overflow: hidden;

				> *:nth-child(2) { // Margin between info and buttons if have two sets of content
					margin-top: ct-em(28);
				}

				p {
					@extend .maranatha-dark;
				}

				// Icon Adjustments

				.el {
					top: 3px;
				}

				.el-envelope {
					top: 2px;
				}

				.el-flag {
					left: 1px;
					font-size: 1.1em;
				}

			}

			// Info Items

			#maranatha-map-section-info-list { // ul
				list-style: none;
				margin: 0 ct-em(10) ct-em(-20) 0;
				padding: 0;
			}

				#maranatha-map-section-info-list li {
					display: block;
					float: left;
					position: relative;
					margin-right: ct-em(20);
					margin-bottom: ct-em(20);
					vertical-align: top;
				}

				#maranatha-map-section-info-list li.maranatha-map-info-full {
					float: none;
				}

					#maranatha-map-section-info-list li .el {
						display: block;
						position: absolute;
						top: 2px;
						font-size: 1.2em;
					}

					#maranatha-map-section-info-list li p {
						margin: 0 0 0 27px;
					}

			#maranatha-map-section-address {
				font-weight: 600;
			}

			// Hide "More Info" button shown when there is a single location
			// Note: This will re-show and other buttons hide on mobile

			.maranatha-map-section-multiple-locations .maranatha-map-button-more-item {
				display: none;
			}

/*---------------------------------------------
 * jQuery Dropdown
 *--------------------------------------------*/

// https://github.com/claviska/jquery-dropdown

.maranatha-dropdown {

	position: absolute;
	z-index: 99999;
	display: none;

	a {
		font-weight: normal;
	}

	.maranatha-dropdown-menu,
	.maranatha-dropdown-panel {

		min-width: 160px;
		max-width: 200px;
		list-style: none;
		overflow: visible;
		margin: ct-em(4) 0 0 0;
		padding: ct-em(16) ct-em(14) ct-em(15) ct-em(26);
		font-size: 0.95em; // same as main menu
		@include box();

		a {

			&:hover {
				color: $text-color-on-menu-hover;
			}

		}

	}

	.maranatha-dropdown-menu {

		padding: ct-em(14) ct-em(26);

		li {
			margin: ct-em(10) 0;
		}

	}

}

// PJAX implemetation forward/back doesn't update dropdown content, so don't differenti
.maranatha-dropdown li.maranatha-dropdown-selected a {
	@extend .maranatha-dark;
}

/*---------------------------------------------
 * Tooltipster
 *--------------------------------------------*/

// MIT License: http://iamceege.github.io/tooltipster/
// This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!):

// Custom Theme (tooltipster.css has base styles)

.maranatha-tooltipster {

	margin-left: ct-em(10);
	margin-right: ct-em(10);
	@include box();

	.tooltipster-content {
		padding: ct-em(25);
		overflow: hidden;
		font-size: 15px; // fails without px font-size
		@extend .maranatha-light;
	}

}

// See events.scss for calendar tooltips (hover on event)

/*---------------------------------------------
 * Visibility
 *--------------------------------------------*/

// Hidden

.maranatha-hidden {
	display: none;
}

// Hidden but active element (e.g. hidden submit)

.maranatha-invisible {
	width: 0;
	height: 0;
	visibility: hidden;
	left: 30000px;
}

// Text meant only for screen readers (required, Theme Check)

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*---------------------------------------------
 * Clearfix
 *--------------------------------------------*/

.maranatha-clearfix:before,
.maranatha-clearfix:after {
  content: "";
  display: table;
}

.maranatha-clearfix:after {
  clear: both;
}