
// These are generic styles used by multiple post types

/*---------------------------------------------
 * Shared Styles (Full + Short + Comments)
 *--------------------------------------------*/

// Entry Content (full content, short excerpt and comment content use this)

.maranatha-entry-content,
.maranatha-entry-content-inner {

	font-size: $entry-font-size;
	line-height: $line-height-content;

	> :first-child {
		margin-top: 0; // remove margin from first element (probably <p>)
	}

	> :last-child {
		margin-bottom: 0; // remove margin from last element (probably <p>)
	}

}

/*---------------------------------------------
 * Full / Single
 *--------------------------------------------*/

// Enlarge font size

.maranatha-entry-full, // single post/page
.archive #maranatha-content-inner, // treat archive similarly
.blog #maranatha-content-inner,
.search #maranatha-content-inner
{

	// Larger size for main article content

	& > .maranatha-entry-content {

		@extend .maranatha-enlarged;

		// On loop of short entries show regular size

		#maranatha-loop-after-content {
			font-size: $enlarged-font-size-reverse;
		}

	}

}

// Margin between content and loop after content (short entries)

.maranatha-entry-full .maranatha-entry-content-inner,
.archive #maranatha-content-inner > .maranatha-entry-content,
.blog #maranatha-content-inner > .maranatha-entry-content,
.search #maranatha-content-inner > .maranatha-entry-content
{
	@extend .maranatha-vertical-margin-bottom-medium;
}

// Make certain content exceed content width (Blockquote, Gallery, Image)

.maranatha-exceed-700-980 {
	margin-left: -140px; // move it out so width is exactly 980
	margin-right: -140px;
}

.maranatha-exceed-980-1170 {
	margin-left: -70px; // move it out so width is exactly 980
	margin-right: -70px;
}

// Entry Header

.maranatha-entry-full-header {
	@extend .maranatha-vertical-margin-bottom-medium;
	overflow: hidden; // prevent horizontal scroll on mobile from negative margins
}

// Entry Map (in header) - Event, Location

.maranatha-entry-full-map {

	@extend .maranatha-no-viewport-padding; // make it fit 100% to viewport on smaller screens
	@extend .maranatha-vertical-margin-bottom-medium;

	.maranatha-map-section,
	#maranatha-map-section-canvas {
		max-height: 350px;
	}

	// Move marker / info box down in consideration of nav bar (breadcrumbs) overlay

	.maranatha-has-header-bottom & #maranatha-map-section-content > *  { // Left/Right Columns

		// Important: main.js pans map down by half this amount to keep marker on target
		padding-top: 50px; // approximate height of nav bar

	}

}

// Meta List

.maranatha-entry-full-meta { // <ul>

	$vertical-margin: ct-em(24);
	$horizontal-margin: ct-em(30);

	margin: (-$vertical-margin) (-$horizontal-margin) 0 0; // negative of li right margin; see overflow: hidden on .maranatha-entry-header
	padding-top: ct-em(5); // account for line height
	list-style: none;
	text-align: center;

	> li {
		display: inline-block;
		max-width: ct-em(350);
		margin: $vertical-margin $horizontal-margin 0 0;
		vertical-align: top;
		line-height: 1.4;
	}

}

	.maranatha-entry-full-meta-label {
		@extend .maranatha-light;
		text-transform: uppercase;
		font-size: 0.8em;
	}

	.maranatha-entry-full-meta-second-line {
		font-style: italic;
	}

	.maranatha-dark {
		@extend .maranatha-dark;
	}

// Smaller icons in entry meta (see Person)

.maranatha-entry-full-icons {
	font-size: 1.4em;
	position: relative;
	top: ct-em(-3);
}

// Make blockquote exceed bounds horizontally (only on narrow width)

.maranatha-content-width-700 .maranatha-entry-full-content > blockquote { // not on short view (first level)
	@extend .maranatha-exceed-700-980;
}

// Make gallery exceed bounds horizontally

.maranatha-content-width-700 .maranatha-entry-full-content > .gallery { // not on short view (first level)
	@extend .maranatha-exceed-700-980;
}

// Make single image in content exceed bounds horizontally

.maranatha-image-exceed-700-980 { // <p> that contains img
	@extend .maranatha-exceed-700-980;
}

// Entry Footer

.maranatha-entry-full-footer {
	@extend .maranatha-vertical-margin-top-medium;
}

	// Item such as for terms

	.maranatha-entry-full-footer-item {

		margin: ct-em(20) 0;
		text-align: center;

		&:first-child {
			margin-top: 0; // no margin on first item
		}

	}

		// Term Lists (categories, tags, etc.)

		.maranatha-entry-full-footer-terms {

			margin-top: ct-em(10);

			&:first-child {
				margin-top: 0;
			}

			// Icon Adjustments

			.el-tags {
				position: relative;
				top: 2px;
				left: -1px;
			}

		}

	// Multipage Navigation (Prev/Next)  - for posts/pages broken into multiple pages

	.maranatha-entry-full-page-nav { // .maranatha-buttons-list

		text-align: center;

		li {
			margin: 0 ct-em(8);
		}

		.maranatha-entry-full-footer-has-terms & {
			@extend .maranatha-vertical-margin-medium;
		}

		.maranatha-entry-full-footer-no-terms.maranatha-no-comments-section & {
			position: relative;
			top: ct-em(-18);
			padding-top: ct-em(18);
		}


	}

// Password Protection Form

.post-password-form {

	font-size: $enlarged-font-size-reverse;

	label {
		font-weight: 600;
	}

	input[type=password] {
		display: block; // force "Password:" and submit button to their own lines
		margin: 20px 0;
	}

}

/*---------------------------------------------
 * Short / Multiple
 *--------------------------------------------*/

// Short Entry
// Note: Also used by entry widgets and event calendar hovers / mobile list

.maranatha-entry-short { // space between each <article>

	text-align: center;

	// Margin between elements

	$element-margin: ct-em(18);

	> *,
	.maranatha-entry-short-header > * {

		margin-top: $element-margin;

		&:first-child {
			margin-top: 0;
		}

	}

	// Heading

	h2,
	h3 { // h3 is entry widget
		margin-top: $element-margin;
		margin-bottom: 0;
		padding-top: ct-em(2);
		padding-bottom: ct-em(2);
		font-size: 1.4em !important; // smaller
		@include thin-heading-font(400);
	}

}

	.maranatha-entry-short-image {
		display: inline-block;
		margin-top: ct-em(6) !important;
	}

	.maranatha-entry-short-meta { // <ul>

		margin-left: ct-em(-10);
		margin-right: ct-em(-10);
		margin-bottom: 0;
		padding-top: ct-em(3);
		font-size: 0.9em;

		> li {
			margin: 0 ct-em(10);
			display: inline-block;
			vertical-align: top;
			line-height: 1.4;
		}

	}

		.maranatha-entry-short-separator {
			@extend .maranatha-light;
			margin: 0 ct-em(5);
		}

		.maranatha-dark {
			@extend .maranatha-dark;
		}

		.maranatha-entry-short-secondary {
			color: $text-color;
			font-style: italic;
		}

	.maranatha-entry-content-short {
		position: relative;
		padding-bottom: ct-em(4);
		text-align: justify;
		font-size: 0.9em;
	}

	// Footer buttons

	.maranatha-entry-short-footer {
		margin-bottom: ct-em(4); // don't let button get cut off
		padding-top: ct-em(7);
		font-size: 0.9em;
	}

// One Column

.maranatha-loop-one-column {

	.maranatha-entry-short {

		max-width: $max-width-small;
		margin-left: auto;
		margin-right: auto;

		@extend .maranatha-vertical-margin-bottom-medium;

		&:last-child {
			margin-bottom: 0; // no margin bottom on last entry
		}

		// Margin between elements

		> *,
		.maranatha-entry-short-header > * {

			margin-top: ct-em(22);

			&:first-child {
				margin-top: 0;
			}

		}

	}

	.maranatha-entry-short-meta,
	.maranatha-entry-content-short,
	.maranatha-entry-short-footer {
		font-size: 1em;
	}

}

// Two Columns

.maranatha-loop-two-columns {

	$loop-two-cols-margin-px: 80;
	$loop-two-cols-margin: ct-em($loop-two-cols-margin-px);

	.maranatha-entry-short {

		display: block;
		float: left;
  		width: 44%; // Fallback for Android 4.3 and earlier
		width: calc( 49.9% - #{ct-em( $loop-two-cols-margin-px / 2)} );
		margin-bottom: $loop-two-cols-margin - 0.6em; // reduce to account for line height

		h2 {
			@extend .maranatha-h3;
		}

		&:not(:nth-child(2n)) { // right margin only on left column
			margin-right: $loop-two-cols-margin;
		}

		// No margin on last two items
		&:nth-last-of-type(-n+2) {
			margin-bottom: 0;
		}

	}

}

// Three Columns

.maranatha-loop-three-columns {

	$loop-three-cols-margin-px: 65;
	$loop-three-cols-margin: ct-em($loop-three-cols-margin-px);

	&#maranatha-loop-multiple {
		margin-bottom: -$loop-three-cols-margin + 0.5em;
	}

	.maranatha-entry-short {

		display: block;
		float: left;
		width: 27%; // Fallback fro Android 4.3 and earlier
		width: calc( 33.2% - #{ct-em( $loop-three-cols-margin-px * 2 / 3 )} );
		margin-bottom: $loop-three-cols-margin - 0.6em; // reduce to account for line height

		h2 {
			@extend .maranatha-h4;
			padding-top: ct-em(1);
		}

		&:not(:nth-child(3n)) { // right margin except on every 3rd item
			margin-right: $loop-three-cols-margin;
		}

	}

}

// Sticky posts - required class

.sticky {
	display: block;
}
