
/*---------------------------------------------
 * Header Bar
 *--------------------------------------------*/

#maranatha-header-top {

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999; // not so high that it exceeds modals
	padding: ct-em(45) 0;

	// Shrink header bar on scroll

	.maranatha-scrolled & {
		padding: ct-em(10) 0;
		box-shadow: 0 -5px 80px rgba(255, 255, 255, 0.07); // contrast in case same background color
	}

}

	// Background Color
	// On its own div so can fade in/out o scroll
	#maranatha-header-top-bg {

		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		opacity: 0;

		.maranatha-scrolled & {
			opacity: 1;
		}

	}

	// Logo on left, Menu on right

	#maranatha-header-top-inner { // .maranatha-centered-large

		display: table;
		width: 100%;
		min-height: ct-em(32);
		font-size: 1rem;

		// Vertical centering for left and right elements

		> * {
			display: table-cell;
			vertical-align: middle;
		}

	}

/*---------------------------------------------
 * Logo
 *--------------------------------------------*/

#maranatha-logo {
	position: relative; // help z-index work
}

	#maranatha-logo-content {
		min-width: 200px; // don't let big menu on small screen squeeze logo smaller than this
		text-align: left;
	}

		// Logo Image Container

		#maranatha-logo-image {

			position: relative;
			max-width: $logo-max-width; // constrain image width

			// See max-width/height set inline on this element in header
			// It helps keep HiDPI at 1X size while constraining image to 100% container (see #maranatha-logo-image img below)
			a {
				display: inline-block;
			}

		}

			// Logo Image

			#maranatha-logo-image img {
				max-width: 100%; // constrain image width
				max-height: $logo-max-height;
				height: auto;
				width: auto;
			}

			// Shrink Logo Image on scroll

			.maranatha-scrolled #maranatha-logo-image img {
				max-height: $logo-max-height-small;
			}

			// Retina Logo

			#maranatha-logo-regular {
				display: inline-block;
			}

			#maranatha-logo-hidpi {
				display: none;
			}

			@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi), only screen and (-o-min-device-pixel-ratio: 5/4) {

				// Swap only if .maranatha-has-hidpi-logo indicates a retina logo exists

				.maranatha-has-hidpi-logo #maranatha-logo-regular {
					display: none;
				}

				.maranatha-has-hidpi-logo #maranatha-logo-hidpi[width], // show once jQuery adds dimensions from regular (if sooner, Retina logo shows enlarged for split second)
				.no-js .maranatha-has-hidpi-logo #maranatha-logo-hidpi // fallback in case JS off
				{
					display: inline-block;
				}

			}

		// Logo Text

		#maranatha-logo-text {

			position: relative;
			left: -2px;
			line-height: 1.2;
			white-space: nowrap; // do wrap on mobile at 640

			a {

				color: #fff;
				font-weight: 600;

				// Thinner "bold" for certain fonts
				@include thin-bold-fonts(logo);

			}

		}

			// Font Optimizations

			.maranatha-logo-font-open-sans #maranatha-logo-text,
			.maranatha-logo-font-open-sans.maranatha-has-logo-text-lowercase #maranatha-logo-text {
				//letter-spacing: -2px;
			}

			// Size

			#maranatha-logo-text.maranatha-logo-text-extra-small {
				font-size: 1em;
			}

			#maranatha-logo-text.maranatha-logo-text-small {
				font-size: 1.25em;
			}

			#maranatha-logo-text.maranatha-logo-text-medium {
				font-size: 1.5em;
			}

			#maranatha-logo-text.maranatha-logo-text-large {
				font-size: 1.75em;
			}

			#maranatha-logo-text.maranatha-logo-text-extra-large {
				font-size: 2em;
			}

/*---------------------------------------------
 * Menu (Dropdowns)
 *--------------------------------------------*/

#maranatha-header-menu {
	padding-left: 1.5em; // ensure space between menu and logo
}

	// Header Menu List

	#maranatha-header-menu-content { // <ul>
		position: relative;
		top: ct-em(2); // compensate for padding-bottom on #maranatha-header-menu-content > li
		margin: 0;
		float: right;
		font-size: 0.9em;
		text-align: right;
		text-transform: uppercase;
	}

		// Header Menu Items (Top Level)

		#maranatha-header-menu-content > li {
			display: inline-block;
			margin: ct-em(5) 0 0 ct-em(20);
			padding-bottom: ct-em(8); // to connect w/dropdown menu (See Hover Setup)
			vertical-align: top;
			text-align: left;
		}

			#maranatha-header-menu-content > li > a {
				position: relative; // for arrow placement
				display: inline-block;  // for arrow placement
				color: #fff; // top-level link color
			}

		/*
		Superfish (Dropdowns) - http://users.tpg.com.au/j_birch/plugins/superfish/
		Copyright (c) 2013 Joel Birch
		Dual licensed under the MIT and GPL licenses
		*/

		.sf-menu,
		.sf-menu * {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.sf-menu {
			float: left;
			margin-bottom: 1em;
			line-height: 1;
		}

			// All items

			.sf-menu li {
				position: relative;
			}

			// All Links

			.sf-menu a {
				display: block;
				position: relative;
				font-weight: normal;
			}

			// Hover Setup

			.sf-menu li:hover ul,
			.sf-menu li.sfHover ul {
				top: ct-em(25); // where submenu begins (see #maranatha-header-menu-content > li padding-bottom)
				z-index: 12000;
			}

			.sf-menu li:not(.maranatha-dropdown-align-right):hover ul,
			.sf-menu li:not(.maranatha-dropdown-align-right).sfHover ul {
				left: ct-em(-20); // align dropdowns left by default
			}

			.sf-menu li.maranatha-dropdown-align-right:hover ul,
			.sf-menu li.maranatha-dropdown-align-right.sfHover ul {
				right: ct-em(-20); // align right when near right edge, so doesn't go off screen (also see .maranatha-dropdown-open-left)
			}

			.sf-menu > li.maranatha-dropdown-open-left > ul ul { // open sub-menus to the left if will go off screen (see main.js)
			  left: auto !important; // reset default positioning
			  right: 100% !important; // open to the left
			}

			.sf-menu li:hover li ul,
			.sf-menu li.sfHover li ul,
			.sf-menu li li:hover li ul,
			.sf-menu li li.sfHover li ul {
				top: -999em;
			}

			.sf-menu li li:hover ul,
			.sf-menu li li.sfHover ul,
			.sf-menu li li li:hover ul,
			.sf-menu li li li.sfHover ul {
				left: 10em; // match .sf-menu ul width below
				top: 0;
			}

			// Sub Menu Lists

			.sf-menu ul {
				position: absolute;
				top: -999em;
				width: 10em; // left offset of submenus need to match (see .sf-menu li li:hover ul above)
				padding: ct-em(12) ct-em(8) ct-em(12) ct-em(10); // spacing between dropdowns
				@include box();
			}

				// Second level submenu

				.sf-menu ul ul {
					margin-top: ct-em(-12);
				}

				// Sub Menu Items

				.sf-menu ul li {
					width: 100%;
				}

					// Sub Menu Item Links

					.sf-menu li li a {
						padding: 0.4em 0.8em;
						font-size: 0.9em;
						line-height: 1.4;
					}

						// Extra right margin for arrows

						.sf-menu li li.menu-item-has-children a {
							padding-right: ct-em(26); // keep text from hitting arrow
						}

					// Sub Menu Hovering

					.sf-menu ul li:hover > a,
					.sf-menu ul li.sfHover > a,
					.sf-menu ul a:focus,
					.sf-menu ul a:hover,
					.sf-menu ul a:active {
						outline: 0;
						color: $text-color-on-menu-hover !important; // override link color set in head.php
					}

			// Arrows

			.sf-arrows ul .sf-with-ul:after { // sub menu
				content: '';
				position: absolute;
				top: 50%;
				height: 0;
				width: 0;
				border-width: ct-em(7);
				border-style: solid;
				border-color: transparent;
			}

			.sf-arrows .sf-with-ul a:after {
				right: ct-em(-17);
				margin-top: ct-em(-2);
			}

			.sf-arrows ul .sf-with-ul:after { // sub menu
				right: ct-em(10);
				margin-top: ct-em(-6);
				margin-right: ct-em(-3);
			}

			// Arrow colors

			.sf-arrows ul li > .sf-with-ul:focus:after, // sub menu hover
			.sf-arrows ul li:hover > .sf-with-ul:after,
			.sf-arrows ul .sfHover > .sf-with-ul:after {
				border-left-color: $text-color-on-menu-hover;
			}

/*---------------------------------------------
 * Search
 *--------------------------------------------*/

// Search is toggled closed

#maranatha-header-search-opened {
	display: none;
}

#maranatha-header-search-closed {
	display: inline-block;
}

#maranatha-header-menu {
	display: table-cell;
}

// Search is toggled open

.maranatha-search-is-open #maranatha-header-menu,
.maranatha-search-is-open #maranatha-header-search-closed {
	display: none;
}

.maranatha-search-is-open #maranatha-header-search-opened {
	display: inline-block;
}

// Search form - desktop

#maranatha-header-search {

	position: relative; // help z-index work
	z-index: 2; // higher than MeanMenu which is moved up over logo/search
	padding-left: ct-em(16);
	text-align: right;

	a {
		color: #fff;
	}

	form {
		position: relative; // keeps it from being covered by background color on sticky menu scroll
	}

	input[type=text] {

		width: 200px;
		font-size: 0.8em;
		text-transform: uppercase;
		color: $text-color-on-main;
		border-color: $text-color-on-main;

		&:focus {
			border-color: $text-color-on-main;
		}

	}

}

	#maranatha-header-search-opened {

		text-align: right;
		white-space: nowrap;

		> * {
			vertical-align: middle;
			display: inline-block;
			margin-left: ct-em(6);
		}

	}

// Search form - mobile

#maranatha-header-search-mobile {

	position: relative; // help z-index work
	z-index: 2; // higher than MeanMenu which is moved up over logo/search
	width: auto;
	display: block;
	padding: ct-em(14) 0 ct-em(18) ct-em(11);
	text-align: left;

	a {
		font-size: 1.3em;
		width: auto;
		float: none;
	}

	form {

		position: relative; // keeps it from being covered by background color on sticky menu scroll

		> * {
			vertical-align: middle;
			display: inline-block;
			margin-left: ct-em(6);
		}

	}

	input[type=text] {

		$height: ct-em(33);

		width: 150px;
		height: $height;
		border-radius:  $height;
		padding: 0 ct-em(15);
		text-transform: uppercase;
		line-height: $height;


		&:focus {
			border-color: $text-color-on-light !important;
		}

	}

}

/*---------------------------------------------
 * Mobile Menu
 *--------------------------------------------*/

/*
MeanMenu - https://github.com/meanthemes/meanMenu
GPL License, Copyright (c) 2013 Chris Wharton
A responsive menu appears at the top and the regular menu disappears on small devices
*/

// Hide until small screen triggered

a.meanmenu-reveal {
	display: none;
}

// When under viewport size, .mean-container is added to target

.mean-container .mean-bar {
	position: relative;
	z-index: 1; // lower than logo and search
	width: 70px;
	height: 0 !important;
	margin-right: 4.5%;
	padding: 0;
	float: right;
	text-align: right;
}

// Open / Close Button

.mean-container a.meanmenu-reveal {
	display: block;
	position: absolute;
	top: -11px; // center it vertically
	right: 5% !important; // right margin from maranatha-centered-large
	width: 22px;
	padding: 0;
	cursor: pointer;
	font-size: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 22px;
	text-decoration: none;
	text-indent: -9999em;
	color: #fff;
}

	.mean-container a.meanmenu-reveal span {
		display: block;
		margin-top: 3px;
		height: 3px;
		background-color: #fff;
	}

	// Close icon
	.mean-container .el-remove-sign {
		position: relative;
		top: 1px;
		left: 1px;
	}

// Menu Items

.mean-container .mean-nav {

	display: inline-block; // re-add BG and center w/text-align above
	width: 226px;
	margin: 1.3em 0 0 0;
	float: right;
	font-size: 1em;
	line-height: 1.3;
	text-transform: uppercase;
	@include box();
	background-color: #fff;

	// Make mobile menu contents scroll if will run off bottom of screen
	$max-height: calc(100vh - 80px);
	max-height: 350px; // Fallback for Android 4.3 and earlier
	max-height: $max-height; // Minus 80px because sticky bar is fixed and cannot scroll page
	content: 'viewport-units-buggyfill; max-height: $max-height;';
	overflow: auto;

}

	// List

	.mean-container .mean-nav ul {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

		// Item

		.mean-container .mean-nav ul li {
			position: relative;
			width: 100%;
			float: left;
			overflow: hidden; // keep expand from overflowing bounds
		}

			// Links

			.mean-container .mean-nav ul li a {
				display: inline-block;
				width: calc( 100% - 4.8em ); // leave space on right for Expand
				margin: ct-em(5) 0 ct-em(5) ct-em(16);
				float: left;
				text-align: left;
				text-decoration: none;
			}

			.mean-container .mean-nav > ul > li:first-child > a { // first top-level link

				margin-top: ct-em(13);

				&.mean-expand {
					margin-top: 0.55em
				}

			}

			.mean-container .mean-nav > ul > li:last-child { // first top-level link

				> a {
					margin-bottom: ct-em(13);
				}

				> ul {
					position: relative;
					top: -0.5em;
				}

			}

				// Sub Links

				.mean-container .mean-nav ul li li a {
					width: calc( 100% - 6.5em ); // leave space on right for Expand
					padding-left: 5%;
					font-size: 0.85em;
					margin-top: ct-em(7); // make room for + and -
					margin-bottom: ct-em(7);
					text-shadow: none !important;
					text-transform: uppercase;
					visibility: visible;
				}

					.mean-container .mean-nav ul li li li a {
						width: calc( 100% - 7em ); // leave space on right for Expand
						padding-left: 10%;
						font-style: italic;
					}

						.mean-container .mean-nav ul li li li li a {
							width: calc( 100% - 8em ); // leave space on right for Expand
							padding-left: 15%;
						}

							.mean-container .mean-nav ul li li li li li a {
								width: calc( 100% - 9.5em ); // leave space on right for Expand
								padding-left: 20%;
							}

	// Last Item

	.mean-container .mean-nav ul li.mean-last a {
		margin-bottom: ct-em(8);
		border-bottom: none;
	}

	// Expand Button

	.mean-container .mean-nav ul li a.mean-expand {

		$radius: 16px;

		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		width: $radius;
		height: $radius;
		margin: 0.2em 0.6em 0 0;
		padding: 0;
		border-style: solid;
		border-width: 1px;
		border-radius: $radius / 2; // Android 2.3 doesn't work with percent
		text-align: center;
		font-size: 1.3em !important;
		font-family: Arial, Helvetica, sans-serif; // so +/- don't vary per font
		line-height: 1;

		// Minus move up
		&.mean-clicked {
			line-height: 0.9;
		}

	}

.mean-container .mean-push {
	width: 100%;
	padding: 0;
	margin: 0;
	float: left;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
}

// Box sizing

.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing:	content-box;
	-moz-box-sizing:	content-box;
	box-sizing:			content-box;
}

// Hide

.mean-remove {
	display: none !important;
}

/*---------------------------------------------
 * Banner
 *--------------------------------------------*/

#maranatha-banner {
	position: relative;
	width: 100%;
	z-index: 6;
}

	#maranatha-banner-image {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	#maranatha-banner-inner {

		@extend .maranatha-centered-medium; // limit width

		display: table;
		position: relative; // bring above banner color layer
		height: 100%;
		padding: 8% 0; // make header banner scale according to screen width

	}

		#maranatha-banner-title {

			display: table-cell;
			vertical-align: middle;
			text-align: center;
			padding: 0 2.5em; // keep text from touching sides

			div { // Using div instead of H1, because H1 is in <article> as hidden assistive text for proper HTMl5 and Outline

				display: block;
				margin-top: 1.3em; // make room for logo/menu
				margin-bottom: 0;

				// More margin for logo
				.maranatha-has-logo-image & {
					margin-top: 1.6em; // make room for logo/menu
				}

			}

		}

/*---------------------------------------------
 * Header Bottom
 *--------------------------------------------*/

// Breadcrumbs and Archive Dropdowns

#maranatha-header-bottom {

	z-index: 5; // over Google Map, under sticky menu bar
	width: 100%;

	// Make breadcrumbs show over map when have map on event/location

	.maranatha-has-entry-map & {
		position: absolute;
		background-color: rgba(255, 255, 255, 0.92);
	}

	// Margin between two elements

	&.maranatha-has-header-archives.maranatha-has-breadcrumbs {

		$margin: 30;
		$margin-half: ct-em($margin / 2);

		.ctfw-breadcrumbs {
			margin-right: $margin-half;
		}

		#maranatha-header-archives {
			margin-left: $margin-half;
		}

	}

}

	#maranatha-header-bottom-inner { // .maranatha-centered-large .maranatha-clearfix
		margin-top: ct-em(13);
		margin-bottom: ct-em(13);
	}

		.ctfw-breadcrumbs,
		#maranatha-header-archives,
		.maranatha-header-archive-dropdown {
			display: inline-block;
			padding: 3px 0;
			font-size: 0.8em;
			text-transform: uppercase;
		}

// Breadcrumbs

.ctfw-breadcrumbs {

	float: left;

	a {
		font-weight: normal;
	}

}

	// Separator

	.maranatha-breadcrumb-separator {
		display: inline-block;
		padding: 0 ct-em(5);
		color: $text-color-light;
	}

// Header Archives - Dropdowns (right of breadcrumbs)

#maranatha-header-archives { // <ul>
	margin: 0;
	list-style: none;
	float: right;
}

	// Top Level Item

	.maranatha-header-archive-top { // <li>

		display: inline-block;
		margin-right: ct-em(15);

		&:last-child {
			margin-right: 0;
		}

	}

		// Section Name

		#maranatha-header-archives-section-name { // .maranatha-header-archive-top-name

			@extend .maranatha-light;
			padding-right: ct-em(5);

			a {
				@extend .maranatha-light;
			}

		}

		// Top Level Item Name

		.maranatha-header-archive-top-name { // <a>

			white-space: nowrap;

			// Down arrow

			.el {
				margin-left: ct-em(7);
				font-size: 0.8em;
				position: relative;
				top: ct-em(-1);
			}

			// Dark when open

			&.maranatha-dropdown-open {
				color: $text-color-on-menu-hover;
			}

		}

		// Dropdown Container

		.maranatha-header-archive-dropdown { // .maranatha-dropdown

			display: none;
			width: ct-em(250);
			margin-top: ct-em(5);
			margin-left: ct-em(-25);

			&.maranatha-dropdown-anchor-right {
				margin-left: ct-em(25);
			}

			// Dropdown Panel

			.maranatha-dropdown-panel {
				padding-right: ct-em(27); // for count
				text-transform: uppercase;
			}

			ul {

				margin: 0;
				list-style: none;
				font-size: 1.05em;
				line-height: 1.4;

				li {

					margin: ct-em(8) 0;

					&:first-child {
						margin-top: ct-em(5);
					}

					&:last-child {
						margin-bottom: ct-em(2);
					}

					a {
						display: inline-block;
						max-width: ct-em(160); // don't let it reach number (enough space for 4-digit #)
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis; // ... before overflows
					}

					.maranatha-header-archive-dropdown-count {
						@extend .maranatha-light;
						display: inline-block;
						float: right;
					}


				}

			}

		}

		// "All" link to index

		.maranatha-header-archive-dropdown-all {
			a {
				font-weight: 600;
			}
		}
