
/*---------------------------------------------
 * Sections
 *--------------------------------------------*/

// Section

.maranatha-home-section { // .maranatha-viewport-height

	display: table;
	width: 100%;
	position: relative;

	&.maranatha-map-section {
		display: block;
	}

}

	// Background Color Tint
	// .maranatha-color-main-bg is applied for Main Color
	// Tint only if has image or no image and dark (not no image and light; poor constrast against footer)

	.maranatha-section-has-image .maranatha-home-section-color,
	.maranatha-section-no-image.maranatha-color-dark-bg .maranatha-home-section-color {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.05; // slight tint to tie things together
	}

	// Background Image

	.maranatha-home-section-image { // faster than :before in FF/Retina
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
	}

		// No fixed image on mobile - poor support

		@media all and (max-device-width: 1024px) { // most tablets/phones are no larger; don't go too high or affect laptops

			.maranatha-home-section-image {
				background-attachment: scroll;
			}

		}

		.maranatha-is-mobile .maranatha-home-section-image { // catch tablets above 1024px
			background-attachment: scroll;
		}

	// Inner

	.maranatha-home-section-inner {
		display: table-cell;
		position: relative; // bring content to top
		vertical-align: middle;
		text-align: center;
	}

		// Content

		.maranatha-home-section-content {

			@extend .maranatha-centered-medium;
			@extend .maranatha-vertical-padding-large;

			padding-left: 2em;
			padding-right: 2em;

			text-align: center;

			// Remove top and bottom margins

			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}

			// Heading
			h2 {
	          	@extend .maranatha-h1;
			}

			// Text

			p {

				font-size: 1.8rem;
				font-weight: 300; // thin fonts

				// Link

				a { // p not to affect circle buttons
					border-bottom: 1px solid;
				}

				b, strong, a {

					// Thinner "bold" for certain fonts
					// These support a weight less than 400 for regular text so boldness can be slight
					@include thin-bold-fonts();

				}

			}

			// Circle Buttons

			.maranatha-circle-buttons-list {
				@extend .maranatha-vertical-margin-top-medium-content;
			}

		}

/*---------------------------------------------
 * Header Section
 *--------------------------------------------*/

#maranatha-home-section-1 {

	// Hide header section to fade in
	.js & { // .js to prevent this when JS is off
		visibility: hidden; // fade in on load
	}

	// Move header section's content down to account for space used by logo and menu
	.maranatha-home-section-content {
		margin-top:  $homepage-header-offset;
	}

}

// Down Arrow

#maranatha-home-header-arrow {

	//display: none;

	position: absolute;
	bottom: 2em;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.1rem;
	opacity: 0.4;
	transition: all 0.3s ease-out;

	// Hide on scroll

	.maranatha-scrolled & {
		opacity: 0;
	}

}
