
// Adjust elements and layout for devices with screens of all sizes.

/*----------------------------------------------
 * Viewport Padding
 *---------------------------------------------*/

@media only screen and (max-width: $max-width + 130px ) {

	//---------------------------------------------
	// Layout
	//---------------------------------------------

	// Header / Footer
	// When width nears max, create margin with percent-based width

	#maranatha-header .maranatha-centered-large,
	#maranatha-footer .maranatha-centered-large {
		max-width: 100% - ( $viewport-padding * 2 );
	}

	// Content Area

	#maranatha-content {
		padding-left: $viewport-padding;
		padding-right: $viewport-padding;
	}

	//---------------------------------------------
	// Custom Elements
	//---------------------------------------------

	// @extend this to prevent padding on 100% width elements, like post nav blocks

	.maranatha-no-viewport-padding {
		margin-left: (-$viewport-padding-reverse);
		margin-right: (-$viewport-padding-reverse);
	}

}

/*----------------------------------------------
 * 1120px
 *---------------------------------------------*/

@media only screen and (max-width: 1120px) {

	//---------------------------------------------
	// Entries
	//---------------------------------------------

	// Content exceeding content area (blockquote, gallery)

	.maranatha-exceed-980-1170 {
		margin-left: (-$viewport-padding-reverse);
		margin-right: (-$viewport-padding-reverse);
	}

}

/*----------------------------------------------
 * 1024px - Tablet Landscape, Netbook
 *---------------------------------------------*/

@media only screen and (max-width: 1024px) {

	//---------------------------------------------
	// Global Sizing
	//---------------------------------------------

	// Reduce all fonts / margins

	html {
		font-size: 90%;
	}

	//---------------------------------------------
	// Custom Elements
	//---------------------------------------------

	// Single post nav prev/next

	.maranatha-nav-block-title {
		font-size: 1.4em;
	}

	//---------------------------------------------
	// Sermons
	//---------------------------------------------

	// Save Button Dropdown

	#maranatha-sermon-download-dropdown {
		margin-left: ct-em(-52) !important;
	}

	//---------------------------------------------
	// Event Calendar
	//---------------------------------------------

	// Reposition icon buttons

	#maranatha-calendar-header-right { // ul.maranatha-list-icons
		padding-top: 0;
	}

	// Reduce cell height from 120px

	.maranatha-calendar-table-day-content-container {
		min-height: 100px;
	}

}

/*----------------------------------------------
 * 980px
 *---------------------------------------------*/

@media only screen and (max-width: 980px) {

	//---------------------------------------------
	// Entries
	//---------------------------------------------

	// Content exceeding content area (blockquote, gallery)

	.maranatha-exceed-700-980 {
		margin-left: (-$viewport-padding-reverse);
		margin-right: (-$viewport-padding-reverse);
	}

	//---------------------------------------------
	// Header
	//---------------------------------------------

	 // Archive Dropdowns

	 #maranatha-header-archives-section-name {
	 	display: none;
	 }

}

/*----------------------------------------------
 * 900px
 *---------------------------------------------*/

@media only screen and (max-width: 900px) {

	//---------------------------------------------
	// Sermons
	//---------------------------------------------

	// Books - reduce to 1 column per testament

	.maranatha-sermon-books-testament { // <section>

		ul {

			$columns: 1;

			-moz-column-count: $columns;
			-webkit-column-count: $columns;
			column-count: $columns;

		}

	}

	//---------------------------------------------
	// Footer
	//---------------------------------------------

	// Hide footer stickies

	#maranatha-stickies {
		display: none !important; // important keeps JS from re-showing
	}

}

/*----------------------------------------------
 * 860px
 *---------------------------------------------*/

@media only screen and (max-width: 860px) {

	//---------------------------------------------
	// Base Elements
	//---------------------------------------------

	blockquote.maranatha-exceed-700-980 {

		padding: 0 ct-em(24) 0 ct-em(58);

		&:before {
			left: ct-em(5);
		}

	}

}

/*----------------------------------------------
 * 768px - Tablet Portrait
 *---------------------------------------------*/

@media only screen and (max-width: 768px) {

	//---------------------------------------------
	// Global Sizing
	//---------------------------------------------

	// Reduce all fonts / margins

	html {
		font-size: 80%; // don't change from 80% or mobile menu becomes badly-sized
	}

	//---------------------------------------------
	// Custom Elements
	//---------------------------------------------

	// Single post nav prev/next

	.maranatha-nav-block-title {
		font-size: 1.3em;
	}

	// Post Page Numbers ( << 1 2 3 >> below loops)

	ul.page-numbers {

		.el {
			margin-top: ct-em(-1) !important;
		}

	}

	// Archive Dropdowns

	.maranatha-header-archive-top-name { // <a>

		// Down arrow

		.el {
			top: 0;
		}

	}

	//---------------------------------------------
	// Homepage
	//---------------------------------------------

	// Do not show arrow on tablets or mobile (this is habit on small devices)

	#maranatha-home-header-arrow {
		display: none;
	}

	//---------------------------------------------
	// Event Calendar
	//---------------------------------------------

	// Bigger font on dropdowns

	.maranatha-calendar-dropdown {
		font-size: 1em;
	}

	//---------------------------------------------
	// Galleries
	//---------------------------------------------

	// Galleries Template - Show caption thumbs in 2 columns

	.maranatha-galleries-list .gallery-item { // duplicate in galleries.scss for 2 columns
		max-width: (100% / 2);
	}

}

/*----------------------------------------------
 * 767px - Just Under Tablet Portrait
 *---------------------------------------------*/

@media only screen and (max-width: 767px) {

	//---------------------------------------------
	// Footer
	//---------------------------------------------

	// Widgets one per row

	#maranatha-footer-widgets {

		margin-right: 0;

		aside {

			margin-bottom: ct-em(45);
			display: block;
			float: none;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}

			// 860 is too wide for many widgets, so restrict and center (tablets)

			margin-left: auto;
			margin-right: auto;
			max-width: 500px;

			> h2 {
				text-align: center;
			}

		}

	}

	//---------------------------------------------
	// Widgets
	//---------------------------------------------

	// Person - circular photo

	.maranatha-widget .maranatha-person-short.maranatha-widget-entry-showing-image  {

		$img_size: ct-em(68);

		.maranatha-entry-short-header {

			> *:not(.maranatha-entry-short-image) {
				margin-left: ct-em(90) !important;
			}

			h3 {
				left: ct-em(-26);
			}

		}

		.maranatha-entry-short-image {

			width: $img_size;
			@include circle-radius( $img_size );

			img {
				width: $img_size;
				@include circle-radius( $img_size );
			}

		}

	}

}

/*----------------------------------------------
 * 700px - Large / Landscape Phone
 *---------------------------------------------*/

@media only screen and (max-width: 700px) {

	//---------------------------------------------
	// Base Elements
	//---------------------------------------------

	// Reduce headings

	#maranatha-content h1,
	#maranatha-content .maranatha-h1 {
		font-size: 1.8em;
	}

	h2,
	.maranatha-h2 {
		font-size: 1.6em;
	}

	h3,
	.maranatha-h3 {
		font-size: 1.4em;
	}

	h4,
	.maranatha-h4 {
		font-size: 1.2em;
	}

	h5,
	.maranatha-h5 {
		font-size: 1.1em;
	}

	h6,
	.maranatha-h6 {
		font-size: 1em;
	}

	// Reduce blockquote

	blockquote {
		font-size: 1.2em; // a little bigger
		padding-right: ct-em(30);
	}

	//---------------------------------------------
	// Custom Elements
	//---------------------------------------------

	// Compact circle buttons

	.maranatha-circle-button,
	.maranatha-circle-button span,
	.maranatha-circle-buttons-list li,
	.maranatha-circle-buttons-list a {
		width: $mobile-circle-button-size;
		height: $mobile-circle-button-size;
		border-radius: $mobile-circle-button-size / 2; // Android 2.3 doesn't work with percent
	}

	.maranatha-circle-button-small,
	.maranatha-circle-button-small span,
	.maranatha-circle-buttons-list-small li,
	.maranatha-circle-buttons-list-small a {
		width: $mobile-circle-button-small-size;
		height: $mobile-circle-button-small-size;
		border-radius: $mobile-circle-button-small-size / 2; // Android 2.3 doesn't work with percent
	}

	.maranatha-circle-button span,
	.maranatha-circle-buttons-list a {
		padding: 0 $mobile-circle-button-side-padding;
		font-size: $mobile-circle-button-font-size;
	}

	.maranatha-circle-button,
	.maranatha-circle-buttons-list {

		span.el,
		a.el {
			font-size: $mobile-circle-button-icon-size;
		}

		// Icon with Text

		a {

			line-height: 1.2;

			span.el {
				padding-bottom: ct-rem(7);
			}

		}

	}

	.maranatha-circle-button-small span.el,
	.maranatha-circle-buttons-list-small a.el {
		font-size: $mobile-circle-button-small-icon-size;
	}

	.maranatha-circle-buttons-list { // ul

		margin-bottom: -( $mobile-circle-button-margin * 0.85 ) !important;

		li {
			margin: 0 $mobile-circle-button-margin-half ( $mobile-circle-button-margin * 0.85) $mobile-circle-button-margin-half;
		}

	}

	.maranatha-circle-buttons-list-small { // ul

		margin-bottom: -$mobile-circle-button-small-margin !important;

		li {
			margin: 0 $mobile-circle-button-small-margin-half $mobile-circle-button-small-margin $mobile-circle-button-small-margin-half;
		}

	}

	// Map section

	.maranatha-map-section,
	#maranatha-map-section-canvas { // .maranatha-viewport-height-half
		min-height: 300px !important;
		max-height: 450px;
	}

	#maranatha-map-section-info {
		min-width: 200px;
		padding: ct-em(25);
	}

		#maranatha-map-section-info-list {

			// Hide items 3 and 4, if any (phone and email for home/footer)

			li:nth-child(3),
			li:nth-child(4) {
				display: none;
			}

		}

			// Show only the "More Info" button on mobile for Home/Footer
			// It goes either to single location or list of all, if have multiple

			.maranatha-home-section,
			#maranatha-footer {

				.maranatha-map-section-multiple-locations .maranatha-map-button-more-item {
					display: inline-block;
				}

				#maranatha-map-section-buttons li:not(.maranatha-map-button-more-item) {
					display: none;
				}

			}

	// Single post nav prev/next

	.maranatha-nav-block {

		width: 100%; // one per row now
		padding-bottom: 25%; // ratio for 1600x400 banners

		// Hide empty block

		&.maranatha-nav-block-empty {
			display: none;
		}

	}

	.maranatha-nav-block-left {
		border-right-width: 0;

		.maranatha-nav-block-has-both & {
			border-width: 0 0 1px 0;
		}

	}

	.maranatha-nav-block-title {
		font-size: 2.1em;
	}

	// Author box

	.maranatha-author-avatar {

		position: relative;
		margin: 0 auto;
		width: $author-box-avatar-size;
		height: $author-box-avatar-size;

		.single & {
			left: 0;
		}

		img {
			@include circle-radius( $author-box-avatar-size );
		}


	}

	.maranatha-author-content {

		margin-left: 0;
		text-align: center;

		h2 {
			display: block;
			margin: ct-em(25) 0 0 0;
		}

	}

		.maranatha-author-box-archive {
			position: relative;
			top: 0;
			float: none;
			margin: ct-em(35) 0;
		}


	//---------------------------------------------
	// Layout
	//---------------------------------------------

	// Reduce vertical spacing by a certain amount set in _variables.scss.
	// Elements that @extend these classes receive the reduction too (love this)

	@include vertical-spacing( 'mobile' ); // mobile device

	//---------------------------------------------
	// Header
	//---------------------------------------------

	// Less space between top bar and viewport

	#maranatha-header-top {
		padding: ct-em(30) 0;
	}

	// Hide regular menu before MeanMenu loads -- avoid flicker

	.js #maranatha-header-menu-inner,
	.js .sf-menu {
		visibility: hidden; // instead display: none or dropdowns go narrow on size up
		height: 1px;
		overflow: hidden;
	}

	// Allow text logo to wrap

	#maranatha-logo {
		width: 100%;
	}

		#maranatha-logo-text {
			white-space: normal;
		}

	// Reduce space between menu and logo

	#maranatha-header-menu {
		padding-left: 0;
	}

	#maranatha-header-menu-content {
		width: 45px;
	}

	// Reduce logo text size

	#maranatha-logo-content {
		font-size: 0.75em;
	}

	// Reduce logo image height

	#maranatha-logo-image img {
		max-height: $logo-max-height-small; // this is also set for scroll
	}

	// Hide search icon (search shows in dropdown)

	#maranatha-header-search {
		display: none;
	}

	// Banner

	#maranatha-banner-title {

		h1 {

			margin-top: 1.5em; // make more room for logo/menu
			font-size: 2em;

			// More margin for logo
			.maranatha-has-logo-image & {
				margin-top: 2em; // make room for logo/menu
			}

		}

	}

	//---------------------------------------------
	// Homepage
	//---------------------------------------------

	// First section

	#maranatha-home-section-1 {

		// Top is smaller on mobile + the browser's controls take space

		.maranatha-home-section-content {
			margin-top:  $mobile-homepage-header-offset;
		}

	}

	// All sections

	.maranatha-home-section-content {

		// Reduce content sizing

 		h1,
		h2 {
			font-size: 2em; // same as header banner size
		}

		p {
			font-size: 1.3em;
		}

	}

	//---------------------------------------------
	// Entries
	//---------------------------------------------

	// Two columns becomes one

	.maranatha-loop-two-columns,
	.maranatha-loop-three-columns {

		&#maranatha-loop-multiple {
			margin-bottom: 0;
		}

		.maranatha-entry-short {

			float: none;
			width: 100%;
			max-width: $max-width-small;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: $mobile-vertical-space-medium;

			&:nth-last-of-type(-n+2) {
				margin-bottom: $mobile-vertical-space-medium;
			}

			&:last-child {
				margin-bottom: 0; // no margin bottom on last entry
			}

			h2 {
				font-size: 1.9em; // like h3
			}

			// Margin between elements

			> *,
			.maranatha-entry-short-header > * {

				margin-top: ct-em(22);

				&:first-child {
					margin-top: 0;
				}

			}

		}

		.maranatha-entry-short-meta,
		.maranatha-entry-content-short,
		.maranatha-entry-short-footer {
			font-size: 1em;
		}

	}

	//---------------------------------------------
	// Sermons
	//---------------------------------------------

	// Save Button Dropdown

	#maranatha-sermon-download-dropdown {
		margin-left: ct-em(-62) !important;
	}

	// Sermon Index List - Three Columns to Two

	.maranatha-sermon-index-list { // <ul>

		&.maranatha-sermon-index-list-three-columns {

			$columns: 2;

			-moz-column-count: $columns;
			-webkit-column-count: $columns;
			column-count: $columns;

		}

	}

	//---------------------------------------------
	// Event Calendar
	//---------------------------------------------

	// Reposition icon buttons

	#maranatha-calendar-header-right { // ul.maranatha-list-icons
		position: relative;
		top: ct-em(-2);
	}

	// Enlarge title

	#maranatha-calendar-title {
		font-size: 2em;
	}

	// Show list container

	#maranatha-calendar-list {
		display: block;
	}

	// Day of week header abbreviated

	.maranatha-calendar-table-header-full {
		display: none;
	}

	.maranatha-calendar-table-header-short {
		display: inline-block;
	}

	// Hide day label (Today, Oct, etc.)

	.maranatha-calendar-table-day-label {
		display: none;
	}

	// Show linked day number if has events (unless in past)

	.maranatha-calendar-table-day-has-events:not(.maranatha-calendar-table-day-past) span.maranatha-calendar-table-day-number {
		display: none;
	}

	.maranatha-calendar-table-day-has-events:not(.maranatha-calendar-table-day-past) a.maranatha-calendar-table-day-number {
		display: inline-block;
	}

	// Hide event links

	.maranatha-calendar-table-day-events {
		display: none;
	}

	// Enlarge and center day

	.maranatha-calendar-table-day-content-container {
		padding: ct-em(15) 0; // vertical centering and height
		min-height: 0 !important;
	}

		.maranatha-calendar-table-day-heading {
			margin: 0 0 ct-em(2) 0;
			font-size: 1.2em;
			text-align: center;
		}

	//---------------------------------------------
	// Comments
	//---------------------------------------------

	// Hide edit link

	.comment-edit-link {
		display: none !important;
	}

	.maranatha-comment-buttons li {
		margin-right: 0;
	}

 	// Move inputs below labels

	#respond input[type=text],
	#respond input[type=email],
	#respond input[type=url] {
		position: relative;
		left: 0;
		width: 95%;
	}

	.comment-form-author label.error, // comment error messages
	.comment-form-email label.error,
	.comment-form-url label.error {
		display: block;
		width: 95%;
		position: absolute;
		top: 0;
		left: 0;
		text-align: right;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		margin: ct-em(10) 0;
	}

}

/*----------------------------------------------
 * 640px
 *---------------------------------------------*/

@media only screen and (max-width: 640px) {

	//---------------------------------------------
	// Event Calendar
	//---------------------------------------------

	// Center title and controls

	#maranatha-calendar-header-left,
	#maranatha-calendar-header-right {
		float: none;
		text-align: center;
		margin-left: 0;
		margin-right: 0;
	}

	#maranatha-calendar-header-right a {
		padding: 0 ct-em(2.5);
	}

		#maranatha-calendar-title,
		#maranatha-calendar-title span {
			margin-left: ct-em(5);
			margin-right: ct-em(5);
		}

			#maranatha-calendar-remove-category a {
				top: ct-em(-6);
			}

	// Reduce day height

	.maranatha-calendar-table-day-content-container {
		padding: ct-em(8) 0; // vertical centering and height
	}

	// Center list heading

	#maranatha-calendar-list-heading {
		text-align: center;
	}

}

/*----------------------------------------------
 * 540px
 *---------------------------------------------*/

@media only screen and (max-width: 540px) {

	//---------------------------------------------
	// WordPress Styles
	//---------------------------------------------

	// Move floated images to their own line and center
	// At 540 there is little room left for long words right of a 300px wide floated image

	.alignleft,
	.alignright {

		display: block;
		margin: $mobile-vertical-space-small auto;
		float: none;

		&.wp-caption {
			padding-top: ct-em(8);
		}

	}

	//---------------------------------------------
	// Galleries
	//---------------------------------------------

	// Single Gallery - Hide all gallery captions

	.gallery-caption {
		display: none;
	}

	// Single Gallery - Make 6+ columns show as 5 columns

	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item { /* duplicate in style.css for 5 columns */
		max-width: (100% / 5);
	}

}

/*----------------------------------------------
 * 480px - Small Phone
 *---------------------------------------------*/

@media only screen and (max-width: 480px) {

	//---------------------------------------------
	// Custom
	//---------------------------------------------

	// Single post nav prev/next blocks

	.maranatha-nav-block-title {
		font-size: 1.4em;
	}

	// Prev/next nav buttons (comments, attachments)
	// Stack them on top of each other

	.maranatha-nav-left,
	.maranatha-nav-right {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 100%;

	}

	.maranatha-nav-left {
		margin-bottom: ct-em(15);
	}

	//---------------------------------------------
	// Entries
	//---------------------------------------------

	 // Full

	.maranatha-entry-full-icons {
		position: relative;
		top: ct-em(-2);
	}

	// Short - more compact

	.maranatha-loop-one-column,
	.maranatha-loop-two-columns,
	.maranatha-loop-three-columns {

		.maranatha-entry-short {

			h2 {
				font-size: 1.6em; // like h3
			}

			// Margin between elements

			> *,
			.maranatha-entry-short-header > * {
				margin-top: ct-em(18);
			}

		}

		.maranatha-entry-short-footer {
			font-size: 0.83em;
		}

	}

	//---------------------------------------------
	// Event Calendar
	//---------------------------------------------

	// Move month/category dropdowns to right (keep from going off screen on small phones)

	.maranatha-calendar-dropdown {

		.maranatha-dropdown-panel,
		.maranatha-dropdown-menu {
			right: ct-em(-60) !important;
		}

	}

	// Make day of week heading normal weight

	.maranatha-calendar-table-header-short {
		font-weight: normal;
	}

	// Reduce day size

	.maranatha-calendar-table-day-content-container {
		padding: ct-em(3) 0; // vertical centering and height
	}

		.maranatha-calendar-table-day-heading {
			font-size: 1.1em;
		}

	//---------------------------------------------
	// People
	//---------------------------------------------

	// Show image above meta

	#maranatha-person-header-content,
	#maranatha-person-image-column,
	#maranatha-person-meta {
		display: block;
		text-align: center;
		padding-left: 0;
		margin-left: 0;
		width: 100%;
	}

	#maranatha-person-image {
		margin: 0 auto;
	}

	#maranatha-person-meta {

		.maranatha-person-has-image & {
			margin-top: $mobile-vertical-space-small;
			padding-left: 0;
		}
	}

	//---------------------------------------------
	// Galleries
	//---------------------------------------------

	// Single Gallery - Make 4+ columns show as 3 columns

	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item { /* duplicate in style.css for 3 columns */
		max-width: (100% / 3);
	}

	//---------------------------------------------
	// Comments
	//---------------------------------------------

	// Remove "Author" or "Trackback" from after name

	.maranatha-comment-author span,
	.maranatha-comment-trackback-link span {
		display: none;
	}

	// Remove icon from Reply button

	.maranatha-comment-buttons .el {
		display: none;
	}

	// Reduce padding on author box with background

	.single-post .bypostauthor > article {
		padding: ct-em(30);
	}

}

/*----------------------------------------------
 * 400px
 *---------------------------------------------*/

@media only screen and (max-width: 400px) {

	//---------------------------------------------
	// Sermons
	//---------------------------------------------

	// Sermon Index List - Two Columns to One

	.maranatha-sermon-index-list { // <ul>

		&.maranatha-sermon-index-list-two-columns,
		&.maranatha-sermon-index-list-three-columns {

			$columns: 1;

			-moz-column-count: $columns;
			-webkit-column-count: $columns;
			column-count: $columns;

		}

	}

}

/*----------------------------------------------
 * 375px - Old Phone (iPhone 4/5 Portrait)
 *---------------------------------------------*/

@media only screen and (max-width: 374px) {

	//---------------------------------------------
	// Header
	//---------------------------------------------

	// Archive Dropdowns

	#maranatha-header-archives,
	.maranatha-header-archive-dropdown {
		display: none !important;
	}

	//---------------------------------------------
	// Sermons
	//---------------------------------------------

	// Books - one testament per row

	.maranatha-sermon-books-testament { // <section>

		$column-gap: 14%;

		width: 100%;

		&:nth-child(odd) {
			margin-right: 0;
		}

	}

	//---------------------------------------------
	// Galleries
	//---------------------------------------------

	// Galleries Template - Show caption thumbs in 1 column

	.maranatha-galleries-list .gallery-item {
		max-width: 100%;
	}

	//---------------------------------------------
	// Comments
	//---------------------------------------------

	// No indentation for threaded comments

	.maranatha-comment,
	.maranatha-comment #respond {
		margin-left: 0;
	}

}
