
/*---------------------------------------------
 * Shared Styles
 *--------------------------------------------*/

// Widget Entry
// Shared by CT Posts, CT Sermons, CT Events, CT Locations and CT People

.maranatha-widget {

	.maranatha-entry-short {

		// Margin between elements

		$element-margin: ct-em(10); // less than regular short entries

		> *,
		.maranatha-entry-short-header > * {

			margin-top: $element-margin;

			&:first-child {
				margin-top: 0;
			}

		}

		// Image

		.maranatha-entry-short-image {
			margin-top: ct-em(10) !important;
		}

		// Heading

		.maranatha-entry-short-header h3 {
			margin-top: $element-margin;
			padding-top: ct-em(7);
			font-size: 1.2em !important; // smaller
		}

		// Left, not centered

		text-align: left;

		// Spacing between entries

		&:not(first-child) {
			margin-top: ct-em(20);
		}

	}

	.maranatha-entry-content-short {
		text-align: left; // left, not centered
	}

	.maranatha-entry-content-short {
		line-height: 1.6;
	}

}
	// Icon Adjustments

	.maranatha-widget-entry-icons {

		li {
			position: relative;
			top: ct-em(-2);
		}

		// Icon Adjustments

		.el {
			position: relative;
		}

		.el-video {
			font-size: 1.1em;
		}

		.el-headphones {
			top: ct-em(-1);
		}

		.el-file {
			top: ct-em(-1);
			font-size: 0.95em;
		}

	}

// Dropdown Widgets

.widget_ctfw-archives,
.widget_ctfw-categories {

	form {
		margin: 0;
	}

	select {
		margin-left: 1px;
		width: 100%;
		max-width: 250px;
	}

}

// List Widgets

.widget_categories > ul, // default WP categories - blog only
.widget_ctfw-categories > ul, // enhanced categories - taxonomy selector
.widget_ctfw-archives > ul, // monthly sermon archives
.widget_ctfw-galleries > ul, // gallery page list
.widget_recent_entries > ul,
.widget_recent_comments > ul,
.widget_archive > ul,
.widget_meta > ul,
.widget_pages > ul,
.widget_links > ul,
.widget_nav_menu > ul {
	@extend .maranatha-list;
}

/*---------------------------------------------
 * CT Locations
 *--------------------------------------------*/

// Add margin to top of map when showing image and map
// USer will normally choose one or the other

.maranatha-location-short-image-and-map {

	.maranatha-entry-short-map {
		margin-top: ct-em(20) !important;
	}

}

/*---------------------------------------------
 * CT People
 *--------------------------------------------*/

// Circular photo

.maranatha-widget .maranatha-person-short.maranatha-widget-entry-showing-image  {

	$img_size: ct-em(80);

	.maranatha-entry-short-header {

		> *:not(.maranatha-entry-short-image) {
			position: relative;
			top: ct-em(-1);
			margin-left: ct-em(100) !important;
		}

		h3 {
			margin-top: 0;
			position: relative;
			left: ct-em(-20);
		}

	}

	.maranatha-entry-short-image {

		float: left;
		width: $img_size;
		@include circle-radius( $img_size );

		img {
			width: $img_size;
			height: auto;
			@include circle-radius( $img_size );
		}

	}

}

/*---------------------------------------------
 * WP Search
 *--------------------------------------------*/

.widget_search {

	.maranatha-search-field {
		margin-left: 0;
	}

	.maranatha-search-button {
		font-size: 1.5em;
		@extend .maranatha-light;
	}

}

/*---------------------------------------------
 * WP Recent Comments
 *--------------------------------------------*/

.widget_recent_comments li {
	margin-top: ct-em(20); // more than list widgets
}


/*---------------------------------------------
 * WP Text Widget
 *--------------------------------------------*/

.widget_text {

	.textwidget {
		@extend .maranatha-compact-content;
	}

}

/*---------------------------------------------
 * WP Tag Cloud Widget
 *--------------------------------------------*/

.widget_tag_cloud {

	.tagcloud {
		font-size: 0.67em !important; // single size; override inlien styles from WP
	}

	a {
		@extend .maranatha-button;
		margin: ct-em(5) ct-em(5) ct-em(5) 0;
		font-size: 1em !important; // single size; override inlien styles from WP
	}

}

/*---------------------------------------------
 * WP Calendar Widget
 *--------------------------------------------*/

.widget_calendar #wp-calendar {
	width: 100%;
	max-width: 500px; // for one per row
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
	padding: ct-em(4);
}

	.widget_calendar #wp-calendar tbody td a {

	}

.widget_calendar #wp-calendar caption {
	padding: 0 0 ct-em(8) 0;
	@extend .maranatha-h4;
	@extend .maranatha-dark;
	@include thin-heading-font();
}

.widget_calendar #wp-calendar th {
	border: 0;
	padding: ct-em(10) 0;
	font-weight: normal;
	@extend .maranatha-dark;
}

.widget_calendar #wp-calendar tfoot td {
	padding-top: ct-em(18);
	text-transform: uppercase;
}

.textwidget > :first-child {
	margin-top: 0;
}

.textwidget > :last-child {
	margin-bottom: 0 !important;
}

/*---------------------------------------------
 * WP RSS Widget
 *--------------------------------------------*/

.widget_rss {

	ul {
		margin: 0;
		list-style: none;
	}

	li {

		line-height: 1.6;

		&:not(:first-child) {

			margin-top: ct-em(18);

			a {
				margin-top: 0;
				margin-bottom: 0;
			}

		}

	}

	h2 {

		// Hide RSS icon

	 	img {
			display: none;
		}

		// Heading link not colored

		a {
			@extend .maranatha-dark;
		}

	}

	.rss-date,
	.rssSummary,
	cite {
		margin-top: ct-em(6);
		font-size: 0.9em;
	}

	.rss-date {
		display: block;
		@extend .maranatha-dark;
	}

	.rssSummary {

	}

	cite {
		display: block;
		font-style: italic;
	}

}

/*---------------------------------------------
 * CT Highlight Widget
 *--------------------------------------------*/

.widget_ctfw-highlight {

	max-width: 500px;

	.maranatha-widget-title {

		&,
		& h2 { // <h2> is widget
			font-size: 1em;
			margin: 0;
		}

	}

}

	.maranatha-caption-image-inner {
		background-color: #ededed; // darker than $bg-color-secondary
	}

/*---------------------------------------------
 * CT Gallery Widget
 *--------------------------------------------*/

// Note there is a buttom margin on gallery thumbnails that could be improved by removal

// Gallery container

.maranatha-widget .gallery {
	margin-top: 0;
	margin-bottom: 0;
}

// Link

.maranatha-gallery-widget-link { // holds <a>
	margin-top: ct-em(30);
	font-size: 0.9em;
	text-align: center;
}

/*---------------------------------------------
 * CT Giving Widget
 *--------------------------------------------*/

// Giving Widget

.maranatha-giving-widget-button {
	margin-top: ct-em(35);
}
