/* Prayer Engine - Colors for Prayer Wall
Activate custom styles in Prayer Engine Settings and customize as you see fit.
Plugin Updates WILL overwrite your changes here. */

#prayerengine #pe-submit-container { /* Background color of the title bar at the top */

}

#prayerengine #pe-form-container { /* Background color for the form */
	background-color: #e8e8e8;
	border-top: 1px dotted #9e9e9e;
}

#prayerengine #pe-submit-area { /* Background color for the submit area at the bottom of the form */
	background-color: #cdcdcd;
}

/* Main submit bar at the top of the form area */

#prayerengine #pe-submit-container #pe-share-button { /* Colors for the button that toggles the form display */
	color: #ffffff;
	background-color: #7e192b;
}

#prayerengine #pe-submit-container h2 { /* Color of the title */
	color: #000000;
}

/* Instructions */

#prayerengine #pe-form-container p.instructions { /* Color of the instructions text */
	color: #000000;
}

/* Label styles for the form */

#prayerengine #pe-form-container label { /* Color of the form labels */
	color: #000000;
}

#prayerengine #pe-form-container label.checkbox { /* Color of the labels for the checkboxes at the bottom */
	color: #000000;
}

/* Input styles for the form */

#prayerengine #pe-form-container input, #prayerengine #pe-form-container textarea, #prayerengine #pe-form-container select { /* Color of the form fields */
	border: 2px solid #dadada;
	background-color: #ffffff;
	color: #000000;
}

#prayerengine #pe-form-container input.pe-submit { /* Colors of the form submit button */
	background-color: #7e192b;
	border: 2px solid #7e192b;
	color: #ffffff;
}

/* Twitter field counter */

#prayerengine #pe-form-container #pe-twitter-area p.twitter-counter { /* Color of the Twitter counter */
	color: #000000;
}

/* PHP Error and Success Messages */

#prayerengine #pe-form-container #errors { /* Colors for the PHP error message field */
	background-color: #7e192b;
	color: #ffffff;
}

#prayerengine #pe-form-container #success {
	background-color: #94bfc6;
	color: #ffffff;
}

/* ---------- PRAYER REQUEST LISTS ---------- */

#prayerengine .pe-prayer-even { /* Colors for the alternating rows of prayer requests */
	background-color: #e8e8e8;
	border-bottom: 1px dotted #9e9e9e;
}

#prayerengine .pe-prayer-odd { /* "" */
	background-color: #ffffff;
	border-bottom: 1px dotted #9e9e9e;
}

#prayerengine .pe-prayer-even h3, .pe-prayer-odd h3 { /* Prayer request titles */
	color: #000000;
}

#prayerengine .pe-prayer-even p, .pe-prayer-odd p { /* Color of prayer request text */
	color: #000000;
}

#prayerengine .pe-prayer-even h4, .pe-prayer-odd h4 { /* Color of date stamp at the bottom of prayer requests */
	color: #919191;
}

#prayerengine .pe-count-area h4 { /* Color of prayer count text */
	color: #94bfc6;
}

#prayerengine .pe-count-area h4 strong { /* Color of prayer count after "I prayed for this" is clicked */
	color: #000000;
}

#prayerengine .pe-count-area a.submitlink { /* Color of "I prayed for this" button */
	color: #ffffff;
}

#prayerengine .pe-count-area a.submitlink:link {background-color: #94bfc6;}
#prayerengine .pe-count-area a.submitlink:visited {background-color: #94bfc6;}
#prayerengine .pe-count-area a.submitlink:hover {background-color: #94bfc6;}
#prayerengine .pe-count-area a.submitlink:active {background-color: #94bfc6;}

#prayerengine .pe-count-area blockquote { /* Color of disabled "I prayed for this" button */
	background-color: #bfbfbf;
	color: #ffffff;
}

/* ---------- PAGINATION ---------- */

#prayerengine .pe-pagination .pe-current-page { /* Color of current page */
	border: 1px solid #94bfc6;
	background-color: #94bfc6;
	color: #ffffff;
}

#prayerengine .pe-pagination a:link {color: #94bfc6; border: 1px solid #ffffff;} /* Color of other pagination links */
#prayerengine .pe-pagination a:visited {color: #94bfc6; border: 1px solid #ffffff;}
#prayerengine .pe-pagination a:hover {color: #94bfc6; border: 1px solid #94bfc6;}
#prayerengine .pe-pagination a:active {color: #ffffff; border: 1px solid #94bfc6; background-color: #94bfc6;}

/* --------- PRAYER ENGINE BRANDING ---------- */

#prayerengine h3#pe-powered-by a { /* You may remove the logo if you desire */
	background: url('../../images/GreyPoweredByPE.png') no-repeat;
}

#prayerengine p#pe-copyright { /* Copyright text MUST remain visible on the prayer wall according to your software license */
	color: #d6d6d6;
}

#prayerengine p#pe-copyright a:link {color: #d6d6d6;}
#prayerengine p#pe-copyright a:visited {color: #d6d6d6;}
#prayerengine p#pe-copyright a:hover {color: #8c8c8c;}
#prayerengine p#pe-copyright a:active {color: #8c8c8c;}