/* Prayer Engine - Styles for Main Prayer Wall 
Activate custom styles in Prayer Engine Settings and customize as you see fit.
Plugin Updates WILL overwrite your changes here. */

#prayerengine {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

#prayerengine h1, #prayerengine h2, #prayerengine h3, #prayerengine h4, #prayerengine h5, #prayerengine h6, #prayerengine p, #prayerengine form, #prayerengine ul, #prayerengine ol, #prayerengine li, #prayerengine ol li, #prayerengine ul li, #prayerengine blockquote, #prayerengine input, #prayerengine input[type="submit"], #prayerengine textarea, #prayerengine select, #prayerengine label, #prayerengine table, #prayerengine table tr, #prayerengine table tr td  { /* resets most browser styles to enhance cross-browser compatibility */
	margin: 0;
	padding: 0;
	text-transform: none;
	letter-spacing: 0;
	line-height: 1;
	clear: none;
	font-weight: 300;
	font-family: Arial, Helvetica, sans-serif;
	font-variant: normal;
	float: none;
	border: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: none;
	min-height: 0;
	text-align: left;
}

#prayerengine label {
	display: inline;
}
	

/* ---------- Prayer Engine Structure ---------- */

#pe-container {
	min-width: 480px;
	margin: 0;
	padding: 20px 0 20px 0;
}

/* ---------- PRAYER REQUEST FORM ---------- */

#pe-submit-container {
	padding: 10px 0 0 0;
}

#pe-form-header {
	height: 36px;
}

#pe-form-container {
	padding: 0;
	display: none;
}

#pe-twitter-area {
}

#pe-submit-area {
	text-align: right;
	margin: 10px 0 0 0;
	padding: 10px 10px 10px 8px;
	height: 28px;
}

/* Main submit bar at the top of the form area */

#pe-submit-container #pe-share-button { 
	width: 220px;
	height: 20px;
	padding: 8px 0 0 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	font-size: 12px !important;
	float: right;
	line-height: 1;
	margin: -2px 0 0 20px;
}

#prayerengine #pe-submit-container h2 {
	margin: 0 0 11px 0;
	font-size: 20px !important;
	padding: 1px 0 0 0;
	line-height: 1;
	font-weight: 700;
}

/* Instructions */

#prayerengine #pe-form-container p.instructions {
	font-size: 12px !important;
	line-height: 130%;
	margin: 0 0 15px 0;
	padding: 10px 15px 0 15px;
	height: 42px;
}

/* Table styles to nicely space the form */

#pe-form-container table {
	margin: 0 0 0 7px;
}

#pe-form-container table tr td {
	padding: 5px;
}

#pe-form-container table tr td.label {
	text-align: right;
	width: 78px;
	vertical-align: top;
	padding: 10px 5px 0 0;
}

#pe-form-container table tr td.inputcell {
	vertical-align: top;
}

#pe-form-container table tr td.prayercell, #pe-form-container table tr td.twittercell {
	padding: 5px 25px 5px 5px;
}

/* Label styles for the form */

#pe-form-container label {
	font-size: 12px !important;
}

#pe-form-container label.checkbox {
	font-size: 11px !important;
	padding: 0 5px 0 0;
}

#pe-form-container label.error {
	display: block;
	padding: 2px 0 0 0;
	font-size: 11px !important;
	font-style: italic;
}

/* Input styles for the form */

#pe-form-container input, #pe-form-container textarea, #pe-form-container select {
	font-family: Arial, Helvetica;
	font-size: 13px !important;
	line-height: 120%;
	padding: 3px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#pe-form-container input {
	width: 250px;
}

#pe-form-container input.check {
	width: 13px;
	margin: 6px 0 0 0;
}

#prayerengine #pe-form-container input.pe-submit, #prayerengine input[type="submit"] {
	width: 150px;
	margin: 0 0 0 10px;
	padding: 3px 0 3px 0;
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
}

#pe-form-container textarea {
	width: 100%;
}

#pe-form-container textarea#prayer {
	height: 140px;
}

/* Styles for the optional Twitter area */

#pe-form-container #pe-twitter-area textarea {
	height: 50px;
}

#prayerengine #pe-form-container #pe-twitter-area p.twitter-counter {
	padding: 2px 0 0 0;
	font-size: 10px !important;
	font-style: italic;
}

/* PHP Error and Success Messages */

#pe-form-container #errors {
	width: 100%;
	padding: 10px 0 5px 0;
}

#prayerengine #pe-form-container #errors p {
	font-size: 13px !important;
	margin: 0 0 5px 10px;
	font-weight: 700;
}

#prayerengine #pe-form-container #errors ul {
	margin: 10px 0 10px 0;
}

#prayerengine #pe-form-container #errors ul li {
	margin: 0 10px 5px 30px;
	font-size: 12px !important;
	list-style-type: disc;
}

#pe-form-container #success {
	width: 100%;
	padding: 10px 0 10px 0;
}

#prayerengine #pe-form-container #success p {
	font-size: 13px !important;
	margin: 0 10px 0 10px;
	line-height: 120%;
	font-weight: 700;
}

/* ---------- PRAYER REQUEST LISTS ---------- */

#pe-prayer-list {
	margin: 15px 0 15px 0;
}

#prayerengine .pe-prayer-even {
	padding: 10px;
}

#prayerengine .pe-prayer-odd {
	padding: 10px;
}

#prayerengine .pe-prayer-even h3.pe-name, #prayerengine .pe-prayer-odd h3.pe-name {
	font-size: 15px !important;
	margin: 0 0 10px 0;
	padding: 6px 0 0 0;
	font-weight: 700;
	display: block;
}

#prayerengine .pe-prayer-even p, #prayerengine .pe-prayer-odd p {
	font-size: 12px !important;
	margin: 0 0 12px 0;
	padding: 0 10px 0 10px;
	line-height: 130%;
	clear: right;
}

#prayerengine .pe-prayer-even h4, #prayerengine .pe-prayer-odd h4 {
	font-size: 11px !important;
}

#prayerengine .pe-count-area {
	float: right;
	width: 286px;
	margin: 0 0 10px 0;
}

#prayerengine .pe-count-area h4 {
	font-size: 12px !important;
	font-weight: 300;
	text-align: right;
	padding: 6px 0 0 0;
}

#prayerengine .pe-count-area h4 strong {
	font-weight: 700;
}

#prayerengine .pe-count-area form a.submitlink {
	display: block;
	width: 138px;
	height: 19px;
	padding: 7px 0 0 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	font-size: 11px !important;
	float: right;
	margin: 0 0 0 20px;
}

#prayerengine .pe-count-area blockquote {
	display: block;
	width: 138px;
	height: 19px;
	padding: 7px 0 0 0;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	font-size: 11px !important;
	float: right;
	margin: 0 0 0 20px;
	line-height: 1;
}

/* ---------- PAGINATION ---------- */

#prayerengine .pe-pagination {
	text-align: center;
	margin: 15px auto 0 auto;
	font-size: 13px !important;
	display: table;
}

#prayerengine .pe-pagination .pe-current-page {
	display: block;
	text-decoration: none;
	padding: 3px;
	float: left;
	margin: 0 5px 0 0;
	text-align: center;
}

#prayerengine .pe-pagination a {
	display: block;
	text-decoration: none;
	padding: 3px;
	float: left;
	margin: 0 5px 0 0;
	text-align: center;
}

/* --------- PRAYER ENGINE BRANDING ---------- */

#prayerengine h3#pe-powered-by {
	width: 120px;
	height: 53px;
	margin: 20px auto 0 auto;
}

#prayerengine h3#pe-powered-by a {
	display: block;
	width: 120px;
	height: 53px;
	text-indent: -9000px;
}

#prayerengine p#pe-copyright {
	font-size: 10px !important;
	text-align: center;
	padding: 6px 0 0 0;
}

#prayerengine p#pe-copyright a:link {text-decoration: none;}
#prayerengine p#pe-copyright a:visited {text-decoration: none;}
#prayerengine p#pe-copyright a:hover {text-decoration: none;}
#prayerengine p#pe-copyright a:active {text-decoration: none;}