/* Prayer Engine - Fixes for IE8's sometimes stupid page rendering */


/* Fix submit area spacing */
#prayerengine #pe-form-container label.checkbox {
	padding: 0 3px 0 0;
}

#prayerengine #pe-form-container input.submit {
	margin: 0 0 0 8px;
}

#prayerengine #pe-form-container input.check {
	border: 0;
}