/* ---------- ADMIN LOGO ----------- */

#adminmenu #toplevel_page_prayerengine_plugin-prayerengine_plugin div.wp-menu-image {
	background:transparent url('../images/pe_small_icon_2.png') no-repeat scroll 1px -66px;
}

#adminmenu #toplevel_page_prayerengine_plugin-prayerengine_plugin:hover div.wp-menu-image {
	background:transparent url('../images/pe_small_icon_2.png') no-repeat scroll 1px -34px;
}

#adminmenu #toplevel_page_prayerengine_plugin-prayerengine_plugin.wp-has-current-submenu div.wp-menu-image {
	background:transparent url('../images/pe_small_icon_2.png') no-repeat scroll 1px -2px;
}

/* ---------- VARIOUS PRAYER ENGINE ADMIN STYLES ----------- */

#enmpe-prayer-options {
	margin: 28px 0 20px 0;
	height: 39px;
	border-bottom: 1px solid #dfdfdf;
	z-index: 1;
	font-size: 1.25em;
}

#enmpe-prayer-options li {
	list-style-type: none;
	float: left;
	margin: 0 35px 0 0;
	z-index: 2;
}

#enmpe-prayer-options li a:link, #enmpe-prayer-options li a:visited {
	text-decoration: none;
	color: #8b8b8b;
	font-weight: 300;
}

#enmpe-prayer-options li a:hover, #enmpe-prayer-options li a:active {
	text-decoration: none;
	color: #000;
	font-weight: 300;
}

#enmpe-prayer-options li.selected {
	height: 40px;
	background: url('../images/message_option_arrow3.jpg') no-repeat;
	background-position: bottom center;
}

#enmpe-prayer-options li.selected a {
	text-decoration: none;
	color: #000;
	font-weight: 700;
}

a.prayerengine_delete:link, a.prayerengine_delete:visited {
	color: #892516;
}

a.prayerengine_delete:hover, a.prayerengine_delete:active {
	color: #ca1b0a;
}

#prayerengine_icon {
	background: url('../images/pe_icon_large.png') no-repeat;
}

p#pe-copyright {
	text-align: right;
	font-size: 0.8em;
	color: #cacaca;
}

p#pe-copyright a:link, p#pe-copyright a:visited {
	color: #cacaca;
	text-decoration: none;
}

p#pe-copyright a:hover, p#pe-copyright a:active {
	color: #a7a7a7;
	text-decoration: none;
}

.pe-colorpicker {
	width: 18px; 
	height: 18px; 
	background-color: #fff; 
	float: left; 
	margin: 1px 0 0 0; 
	border: 1px solid #000;
	margin: 0 6px 0 0;
}

td.enmpe-delete {
	width: 80px;
}

/* ---------- FORMATTING FOR REPORTS ----------- */

body#pe-report {
	margin: 0;
	padding: 0;
	font-size: 62.5%; /* enables you to easily size text with ems */
	font-family: Georgia, serif;
	margin: 20px;
}

body#pe-report h1 {
	font-size: 2.8em;
	margin: 0 0 5px 0;
}

body#pe-report h4 {
	font-weight: 300;
	font-size: 1.5em;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #000;
	margin: 0 0 10px 0;
}

body#pe-report h3 {
	font-weight: 700;
	font-size: 1.4em;
	margin: 20px 0 10px 0;
}

body#pe-report p {
	font-weight: 300;
	font-size: 1.3em;
	margin: 0 0 10px 0;
	padding: 0 20px 0 20px;
	line-height: 140%;
}

body#pe-report h5 {
	font-weight: 300;
	font-size: 1.5em;
	padding: 10px 0 0 0;
	border-top: 1px solid #000;
	margin: 30px 0 10px 0;
}

a.enmpe-learn-more {
	color: #c6c6c6;
}

h2.enmpe {
	padding: 20px 0 8px 45px;
	background: url('../images/header_icon.png') no-repeat;
	background-position: 0 16px;
	margin-bottom: 14px;
}

.tablenav.prayerengine .page-numbers.current {
	font-size: 1.35em;
	margin: 0;
	padding: 0 10px 3px 10px;
	border: none;
}

#enmpe-pe-logo {
	width: 100%;
	height: 120px;
	background: url('../images/pe_logo.jpg') no-repeat;
	background-position: top center;
	background-color: #323232;
}

@media 
(-webkit-min-device-pixel-ratio: 2) { 
    /* ---------- ADMIN LOGO ----------- */

#adminmenu #toplevel_page_prayerengine_plugin-prayerengine_plugin div.wp-menu-image {
	background:transparent url('../images/pe_small_icon_22x.png') no-repeat scroll 1px -66px;
	background-size: 27px 96px;
}

#adminmenu #toplevel_page_prayerengine_plugin-prayerengine_plugin:hover div.wp-menu-image {
	background:transparent url('../images/pe_small_icon_22x.png') no-repeat scroll 1px -34px;
	background-size: 27px 96px;
}

#adminmenu #toplevel_page_prayerengine_plugin-prayerengine_plugin.wp-has-current-submenu div.wp-menu-image {
	background:transparent url('../images/pe_small_icon_22x.png') no-repeat scroll 1px -2px;
	background-size: 27px 96px;
}

#enmpe-prayer-options li.selected {
	height: 40px;
	background: url('../images/message_option_arrow32x.jpg') no-repeat;
	background-size: 18px 18px;
	background-position: bottom center;
}

h2.enmpe {
	padding: 20px 0 5px 45px;
	background: url('../images/header_icon2x.png') no-repeat;
	background-position: 0 17px;
	background-size: 35px 35px;
}

#enmpe-pe-logo {
	background: url('../images/pe_logo2x.jpg') no-repeat;
	background-size: 318px 120px;
	background-position: top center;
	background-color: #323232;
}
}